#registerForm .errorSummary {
    margin-left: 62px;
}

#registerForm .errorSummary p {
    color: red;
}

#registerForm .errorSummary li {
    list-style-type: none;
}

#registerForm .error {
    border: 1px solid red;
}

#auhtForm .errorSummary {
    margin-left: 62px;
}

#auhtForm .errorSummary p {
    color: red;
}

#auhtForm .errorSummary li {
    list-style-type: none;
}

#auhtForm .error {
    border: 1px solid red;
}