.block_form1{
    width:618px;

    position: absolute;
    left:50%; margin-left:-309px;
    top: 100px;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 37px 13px rgba(204,205,205,1);
    -moz-box-shadow: 0px 0px 37px 13px rgba(204,205,205,1);
    box-shadow: 0px 0px 37px 13px rgba(204,205,205,1);
    background:#fff;
}
.foto_fon_top{
    background:url(../images/top_fon.png) repeat-x;
    width:100%;
    height:28px;
    margin-bottom:25px;
}
.zagolovok_lider{
    font-family: 'Conv_767659';
    font-size:24px;
    float:Left;

    margin-bottom:15px;
}
.close{
    background:url(../images/exit.png) no-repeat;
    float:right;
    width:18px;
    height:18px;
    cursor:pointer;
}

.spisok1{
    list-style:none;
    font-size:11px;
    font-family: 'segoe_uiregular';
    color:#8B8B8B;

}
.spisok1 li {
    float:Left;
    padding-left:6px;
    padding-right:6px;
    padding-top:2px;
    padding-bottom:2px;
}
.spisok1 li.first4{
    background:#ECECEC;
}

.bet2{
    font-family: 'segoe_uiregular';
    font-size:14px;
    width:152px;
    height:28px;
    background:#EE250A;
    display:block;
    text-align:Center;
    line-height:28px;
    text-decoration:none;
    color:#fff;
    border:none;
    cursor:pointer;
}

.bet2:hover{
    background:#101010;
}
.foto_fon_bot{
    background:url(../images/bot_fon.png) repeat-x;
    width:100%;
    height:28px;
    margin-top:25px;
}
.otsup_kraya{
    padding-left:25px;
    padding-right:32px;
}


/* radiobutton styles */

input[type="radio"] {
    display:none;

}

input[type="radio"] + label {

}

input[type="radio"] + label .pseudo-checkbox {
    display:inline-block;
    float: left;
    width:14px;
    height:14px;
    margin:4px 7px 0 0;
    vertical-align:middle;
    background:url(../images/radio.png) 0px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label .pseudo-checkbox {
    background:url(../images/radio.png) -14px top no-repeat;
}
.text_radio{
    font-family: 'segoe_uiregular';
    font-size:14px;
    color:#666666;
    cursor:pointer;
}
.alignment_radio3{
    float:left;
    margin-right:62px;
    margin-bottom:30px;
    margin-top:20px;
}
.block_form1 p a{
    color:#EE250A;
    text-decoration:none;
    border-bottom:1px dashed #EE250A;
    line-height:100%;
}
.block_form1 p a:hover{
    color:#101010;
    border-bottom:1px dashed #101010;
}

.block_stavki3{
    width:87px;
    margin-bottom:30px;
    float:Left;
    margin-right:25px;
    height:195px;
    position:relative;

}
.bl_number3{
    font-family: 'segoe_uiregular';
    font-size:14px;
    text-align:center;
    color:#666666;
}

.text_name3 a{
    font-family: 'segoe_uiregular';
    font-size:14px;
    text-align:center;
    color:#EE250A;
    display:block;
    padding-top:11px;

}
.text_name3 a:hover {
    color: #101010;
}
.bl_img_pl{
    text-align:center;
    padding-bottom:7px;
    padding-top:2px;

}
.qw{
    display: table-cell;
    vertical-align: bottom;
    width:87px;height:76px;
}

/*
    Стили диалогов
*/
.zagolovok_lider4{
    font-family: 'Conv_767659';
    font-size:24px;
    float:Left;
    margin-bottom:10px;

}

.text_pole4{
    width:550px;
    height:80px;
    border:1px solid #C4C4C4;
    font-family: 'segoe_uiregular';
    font-size:14px;
    color:#B2B2B2;
    padding-left:10px;
    padding-top:13px;
    outline:none;

}
.otstup_area{
    margin-top:17px;
    margin-bottom:20px;
}
.bet2{
    font-family: 'segoe_uiregular';
    font-size:14px;
    width:152px;
    height:28px;
    background:#EE250A;
    display:block;
    text-align:Center;
    line-height:28px;
    text-decoration:none;
    color:#fff;
    border:none;
    cursor:pointer;
}

.bet2:hover{
    background:#101010;
}
.foto_fon_bot{
    background:url(../images/bot_fon.png) repeat-x;
    width:100%;
    height:28px;
    margin-top:25px;
}
.otsup_kraya{
    padding-left:25px;
    padding-right:32px;
}

.silki_message4{
    padding: 10px;

    float:left;
    font-family: 'segoe_uiregular';
    font-size:14px;
    margin-right:15px;
    margin-bottom:13px;
}
.silki_message4 a {
    display:block;
    color:#EE250A;

}
.silki_message4 a:hover {
    color: #101010;
}

.silki_message4.active{
    background-color: #ECECEC;
    border-radius: 5px;
}

.select_all{
    /*width:560px;*/
    height:45px;
    background:#F5F5F5;
    margin-top:25px;
}
.text_select_all{
    font-family: 'segoe_uiregular';
    font-size:14px;
    color:#666666;
    line-height:45px;
    padding-left:16px;
}
.text_select_all span, a {
    color:#EE250A;
}
.text_select_all a:hover {
    color: #101010;
}
.text_select_all span:hover {
    color: #101010;
}
.number_message5{
    padding-bottom: 5px;
    font-size:14px;
    padding-top:20px;
    margin-bottom:30px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    color: #1a5a8e;
}
.number_message5 a {
    color:#EE250A;
}
.number_message5 a:hover {
    color: #101010;
}

.all_users2{
    /*width:560px;*/
    margin-bottom:30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 27px;
}
.galochka4{
    margin-left:3px;
    margin-top:35px;
    margin-right:11px;
    cursor:Pointer;
    float:Left;
    position:relative;
}
.img_all_us{
    position:relative;
    float:left;
}
.all_text_us{
    margin-left:13px;
    position:relative;
    float:Left;
    font-size:14px;
    width:120px;
    margin-right:12px;
    overflow: hidden;
    height:87px;
}

.name_all_tx_us a {
    color:#EE250A;
    font-family: 'Conv_Segoe UI Semibold';
}
.name_all_tx_us a:hover {
    color: #101010;
}
.txt_all_us{
    color:#B2B2B2;
    font-family: 'segoe_uiregular';
    padding-top:15px;
}
.online_all_us{
    color:#23B601;
    padding-top:20px;
}
.img1_all_us{
    padding-right:5px;

}
.right_block_text{
    float:left;
    position:relative;
    /*width:300px;*/
}
.all_users2 p{
    font-family: 'segoe_uiregular';
    font-size:14px;
    color:#666666;
    padding-right:10px;
    margin-top:-5px;
}

/*
    Конец стилей диалогов
*/
/**
 * Стили сообщений
*/

.foto_message3{

    float:left;
    position:relative;
    padding-bottom:5px;
}
.text_who {
    font-family: 'segoe_uiregular';
    font-size:14px;
    color:#808080;
    margin-left:100px;
}
.text_who a {
    color:#EE250A;
}
.text_who a:hover {
    color: #101010;
}
.text_pole2{
    width:450px;
    height:140px;
    border:1px solid #C4C4C4;
    font-family: 'segoe_uiregular';
    font-size:14px;
    color:#B2B2B2;
    padding-left:10px;
    padding-top:13px;
    outline:none;

}
.otstup_area2{
    margin-top:14px;
    margin-bottom:10px;
    margin-left:100px;
}

.silka_dialog a{
    display:block;
    font-family: 'segoe_uiregular';
    font-size:14px;
    margin-left:100px;
    color:#EE250A;
    margin-bottom:25px;
}
.silka_dialog a:hover {
    color: #101010;
}
.bet2{
    font-family: 'segoe_uiregular';
    font-size:14px;
    width:152px;
    height:28px;
    background:#EE250A;
    display:block;
    text-align:Center;
    line-height:28px;
    text-decoration:none;
    color:#fff;
    border:none;
    cursor:pointer;
}

.bet2:hover{
    background:#101010;
}
.foto_fon_bot{
    background:url(../images/bot_fon.png) repeat-x;
    width:100%;
    height:28px;
    margin-top:25px;
}
.otsup_kraya{
    padding-left:25px;
    padding-right:32px;
}