.ui-carousel {
	
	margin: 0;
height:133px !important;
	padding: 0;
	position: relative; /*for ie7 to work e.g in html carousels*/
}

.ui-carousel > .wrapper {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel > .wrapper > * {
	float: left;


}