*{
	margin:0;
	padding:0;
	}
a img{
	border:none;
	}
body{
    font-family: 'Arial';

}

@font-face {
	font-family: 'Conv_MyriadPro-Regular';
	src: url('../fonts/MyriadPro/MyriadPro-Regular.eot');
	src: local('вє'), url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_767659';
	src: url('../fonts/myriad_semibold/767659.eot');
	src: local('вє'), url('../fonts/myriad_semibold/767659.woff') format('woff'), url('../fonts/myriad_semibold/767659.ttf') format('truetype'), url('../fonts/myriad_semibold/767659.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'segoe_uiregular';
    src: url('../fonts/webfontkit/segoeui-webfont.eot');
    src: url('../fonts/webfontkit/segoeui-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit/segoeui-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit/segoeui-webfont.woff') format('woff'),
         url('../fonts/webfontkit/segoeui-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit/segoeui-webfont.svg#segoe_uiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#wreaper2{
max-width:1920px;
margin:0 auto;
padding:0 25px;
background:url(../images/site/fon_sait3.png) repeat-x top;
}
.header{
height:85px;
padding-top:23px;
width:100%;
margin-bottom:24px;
}
.logo4{
padding-left:91px;
padding-top:39px;
float:left;

}


.logo_text{
padding-left:18px;
display:block;
float:left;
}
.otstyp_palka{
float:left;
margin-left:58px;
margin-top:41px;
}
.otstyp_palka2{
float:left;

margin-top:41px;
}
.silki{
float:left;
margin-left:31px;
margin-right:46px;
margin-top:51px;
font-size:14px;
font-family: 'Conv_MyriadPro-Regular';
}
.silki a {
text-decoration:none;
color:#575757;
}
.img_silki{
display:block;
float:left;
padding-top:2px;
}
.text_silki{
display:block;
float:left;
padding-left:6px;
color:#EE250A;
}
.img_silki2{
display:block;
float:left;

}

.authorization{
float:left;
font-size:14px;
font-family: 'Conv_MyriadPro-Regular';
color:#575757;
margin-left:35px;
margin-top:51px;

}
.authorization a {
text-decoration:none;
color:#575757;
padding-left:15px;
}
.color_auth{
color:#EE250A;
}
.otstup_auth{
padding-left:8px;
}




.tabs-navigation{
list-style:none;
font-family: 'Conv_MyriadPro-Regular';
font-size:30px;
margin-left:38px;
width:924px;
height:62px;
background:#009DB9;
border-radius:15px 15px 0 0;
}


.i_want{
float:left;
margin-left:58px;
}
.i_want a{
color:#EE250A;
font-size:12px;
display:block;

}

.img_i_want{
margin-top:2px;
float:right;
padding-left:5px;
}
.fon_menu_center{
 background:#EE250A;
 width:100%;
 height:45px;
 position:relative;
}
.fon_left_menu{
height:45px;
width:10px;
background:#101010;
position: absolute;
left: 0;
top: 0;

}
.fon_right_menu{
height:45px;
width:10px;
background:#101010;
position: absolute;
right: 0;
top: 0;
}
.menu_center{

font-size:14px;
font-family: 'segoe_uiregular';

height:45px;
text-align:center;
}
.menu_center li{
display:inline-block;
background:url(../images/site/palka_menu.png) no-repeat;
height:45px;
list-style:none;
padding-left:35px;
padding-right:31px;
margin-right:-4px;
}
.menu_center li.first3{
background:none;
}
.menu_center a {
display:block;
text-decoration:none;
line-height:45px;
color:#fff;

}
.menu_center li:hover{
background:#101010;

}
.img1{
padding-right:5px;
padding-top:25px;
float:left;
}

.img2{
padding-right:5px;
padding-top:23px;
float:left;
}
.fon_center_menu{
background:url(../images/site/fon_menu1.png) no-repeat;
width:1115px;
height:14px;
margin-left:40px;
}
#sidebar_left{
float:left;
width:230px;
margin-top:38px;
}
#sidebar_center{
padding-right:30px;
margin-right:255px;
margin-left:245px;
margin-top:38px;
}
#sidebar_right{
float:right;
width:240px;

margin-top:38px;
}

.block_dl9_blocka{
width:230px;
margin-bottom:16px;
position:relative;
border:1px solid #D3D3D3;
}

.img_anketa{
float:left;
position:relative;
padding-left:20px;
padding-top:25px;
}

.text_anketa{
font-size:12px;
color:#666666;
font-family: 'segoe_uiregular';
line-height:160%;
 margin-left:80px;
padding-top:21px;

padding-right:5px;
}


.number2 a {
color:#EE250A;
}
.palka_center4{
background:url(../images/site/palka_blocka.png) repeat-x;
width:192px;
height:1px;
margin-top:22px;
margin-left:20px;
}
.knopka_anketa{
font-family: 'Conv_767659';
 margin-top:20px;
padding-bottom:24px;

 
}
.knopka_anketa a{
background:#EE250A;
width:165px;
height:39px;
display:block;
margin:0 auto 0px auto;
text-decoration:none;
cursor:pointer;
color:#fff;
line-height:39px;
text-align:center;
font-size:18px;

}
.knopka_anketa a:hover{
background:#101010;
}
.menu_left{
list-style:none;
font-size:14px;
font-family: 'Conv_MyriadPro-Regular';
padding-top:11px;
padding-bottom:14px;
}
.menu_left li{
 background:url(../images/site/palka_blocka.png) repeat-x;
 width:190px;
 margin-left:18px;
}
.menu_left li.first4{
background:none;
}
.menu_left a {
display:block;
color:#EF3F2E;
padding-bottom:8px;
padding-top:10px;
}
.menu_left a:hover{
color:#101010;
text-decoration:none;
}

.soberi_komandy{
font-size:18px;
font-family: 'Conv_MyriadPro-Regular';
color:#009DB9;
text-align:center;
padding-top:11px;
padding-bottom:26px;
}
.b_d_left{
float:Left;
width:85px;
margin-left:5px;
margin-right:5px;
margin-bottom:11px;
}

.img_bd{
text-align:center;
}
.text_bd{
font-size:14px;
line-height:130%;
text-align:center;
font-family: 'Conv_MyriadPro-Regular';
color:#5F6B6E;
padding-top:4px;
text-shadow:1px 0 0 #EEEFEF;
}

.strelka_bd{
float:left;
padding-top:15px;
padding-left:0px;
}
.img12_bd{
padding-top:3px;
}
.knopka_bd{
border:none;
background:url(../images/site/knopka3.png) no-repeat;
width:155px;
height:29px;
outline:none;
margin-left:33px;
color:#fff;
text-shadow:1px 1px 0 #C46907;
cursor:pointer;
margin-bottom:24px;
}

.palka_center5{
background:url(../images/site/palka_blocka.png) repeat-x;
width:190px;
height:1px;

margin-left:18px;
margin-bottom:23px;
}

.block_dl9_blocka2{
width:230px;
margin-bottom:16px;
border:1px solid #D2D2D2;
position:relative;



font-family: 'Conv_MyriadPro-Regular';
}


.lider{
font-family: 'Conv_767659';
font-size:18px;
color:#010101;

text-align:center;
padding-top:17px;
padding-bottom:10px;
}
.img_lider{
position:relative;
float:left;
padding-left:20px;
}
.text_lider{
font-size:14px;
margin-left:105px;
color:#666666;
font-family: 'Conv_767659';

padding-bottom:7px;
}
.silka_lider a{
display:block;
font-family: 'Conv_767659';
padding-top:15px;
text-align:center;
font-size:14px;
color:#EE250A;
}
.silka_lider2 a{
display:block;
font-family: 'Conv_767659';
text-align:center;
font-size:14px;

color:#EE250A;
}
.embroidery_top2{
margin-top:15px;
}




#footer{
height:105px;
margin-top:10px;
width:100%;
background:#EBEBEB;
}
.block_left{
float:left;
margin-left:29px;
padding-top:20px;
}
.attendance{
font-family: 'segoe_uiregular';
 font-size:12px;
 color:#666666;
 padding-bottom:5px;
}
.attendance a {
color:#EE250A;
}
.attendance a:hover{
color:#101010;
}
.foot_menu{
list-style:none;
font-size:12px;
width:600px;
font-family: 'segoe_uiregular';
margin:0 auto;
padding-top:44px;
}
.foot_menu li{
float:left;
height:15px;
background:url(../images/site/palka_menu2.png) no-repeat 0 5px;
}
.foot_menu li.first{
background:none;
}
.foot_menu a {
display:block;
color:#EE250A;
margin-left:24px;
margin-right:24px;
}
.foot_menu a:hover{
color:#101010;
}
.counter{
float:right;
margin-right:40px;

}



.block_dl9_blocka3{
width:232px;
margin-bottom:16px;
position:relative;
border:1px solid #D2D2D2;
padding-bottom:22px;

font-family: 'Conv_767659';
}
.status_vip{
font-size:18px;
color:#010101;
text-align:center;
padding-bottom:15px;
padding-top:15px;
line-height:100%;
}
.img_vp{
text-align:center;
padding-bottom:20px;
}
.spisok_vip {
list-style:none;
font-size:14px;
color:#666666;
font-family: 'segoe_uiregular';
}
.spisok_vip li{
background:url(../images/site/foto10.png) no-repeat 20px 3px;
padding-left:43px;
margin-bottom:16px;
padding-right:25px;
line-height:130%;
}
.knopka_vip{
font-family: 'segoe_uiregular';
font-size:18px;
}
.knopka_vip a{
background:#EE250A;
width:166px;
height:40px;
display:block;
text-decoration:none;
cursor:pointer;
color:#fff;
line-height:40px;
text-align:center;
font-size:18px;
margin:0 auto;
}
.knopka_vip a:hover{
background:#101010;
}
.reklama{
margin-top:21px;
margin-bottom:16px;
}

.block_dl9_blocka4{
width:232px;
margin-bottom:16px;


border:1px solid #D2D2D2;

}
.zagolovok_poisk{
font-size:18px;
color:#000;
text-align:center;
font-family: 'Conv_767659' !important;
padding-top:2px;
padding-bottom:22px;
}
.left_text_poisk{
float:Left;
padding-left:15px;
font-family: 'segoe_uiregular';
color:#666666;
width:62px;
padding-top:3px;

}
.right_form{
float: right;
margin-bottom: 10px;
margin-right: 13px;
}
.txt1{
font-family: 'Conv_MyriadPro-Regular';
font-size:14px;
color:#666666;
float:left;
padding-top:7px;
padding-right:8px;

}
.txt2{
border:1px solid #DADADA;
text-align:center;
width:32px;
height:26px;
line-height:26px;
float:left;
color:#B2B2B2;
margin-right:18px;
}
.txt3{
border:1px solid #DADADA;
text-align:center;
width:32px;
height:26px;
line-height:26px;
line-height:25px;
float:left;
}
.poisk_ras a{
display:block;
font-size:14px;
text-align:center;
color:#EE250A;
padding-top:3px;
font-family: 'segoe_uiregular';
}
.knopka_poisk2{
border:none;
font-family: 'segoe_uiregular';
width:152px;
height:28px;
color:#fff;
font-size:14px;
background:#EE250A;
outline:none;
cursor:pointer;
margin-top:18px;
margin-left:43px;
margin-bottom:29px;
}
.knopka_poisk2:hover{
background:#101010;
}
.foto_b_p{
float:left;
position:relative;
margin-top:-93px;
margin-left:20px;
border:5px solid #fff;
}
.block_right_b_p{
margin-left:215px;
font-family: 'segoe_uiregular';
margin-top:7px;
}
.name_b_p{
float:Left;
}
.name_b_p a{
display:block;
text-decoration:none;
color:#666666;
font-size:24px;
padding-left:3px;
}



.like_b_p{
float:right;
background:url(../images/site/foto13.png) no-repeat;
width:30px;
height:30px;
border:none;
cursor:pointer;
}



.text1_b_p{
font-size:14px;
color:#B2B2B2;
padding-left:3px;
padding-top:3px;
}
.time_b_p{
font-size:11px;
color:#8B8B8B;
background:#ECECEC;
padding:2px 5px;
float:left;
margin-left:3px;
margin-top:6px;
}
.write_b_p {
float:Left;
font-family: 'segoe_uiregular';
}
.write_b_p a {
display:block;
background:#EE250A;
width:153px;
height:28px;
line-height:29px;
text-align:center;
font-size:14px;
text-decoration:none;
color:#fff;
margin-top:20px;
margin-left:28px;
}
.write_b_p a:hover{
background:#101010;
}
.write_b_p3 {
float:Left;
font-family: 'segoe_uiregular';
}
.write_b_p3 a {
display:block;
background:#EE250A;
width:153px;
height:28px;
line-height:29px;
text-align:center;
font-size:14px;
text-decoration:none;
color:#fff;
margin-top:20px;
margin-left:22px;
}
.write_b_p3 a:hover{
background:#101010;
}

.write_b_p2 {
float:Left;
font-family: 'segoe_uiregular';
}
.write_b_p2 a {
display:block;
text-align:center;
font-size:16px;
line-height:29px;
color:#EE250A;
margin-top:20px;
margin-left:23px;
text-decoration:underline;
}
.write_b_p2 a:hover{
color:#101010;
}
.wr_b_p4 {
text-decoration:none !important;
}

#tabs3{
padding-top:7px;
}
.tabs-navigation3{
list-style:none;
font-size:12px;
font-family: 'segoe_uiregular';
width:100%;


}
.tabs-navigation3 li{
float:left;
position:relative;



}
.tabs-navigation3 a {
display:block;
color:#EE250A;
width:115px;
height:42px;
line-height:42px;
text-align:center;
background:#fff;
}
.rf{
position:absolute;
top:5px;
right:5px;
font-size:10px;
width:16px;
height:16px;
line-height:16px;
background:#FABDB5;
text-align:center;
color:#fff;
}
.palka_pod_foto{
background: url(../images/site/palka_blocka.png) repeat-x;
width: 100%;
margin-top: 17px;
height: 1px;
}
.tabs-navigation3 li.selected a, .tabs-navigation3 li:hover a{
color:#0D0D0D;
font-family: 'Conv_767659';


text-decoration:none;
	     }

.vmestimost{
width:100%;
background:#fff;




}
.characteristic{
width:100%;
margin-left:25px;
margin-top:13px;
margin-bottom:16px;
}
.zagolovok_ch{
font-size:18px;
font-family: 'Conv_767659';
float:left;
color:#010101;
margin-bottom:20px;
padding-top:6px;
}
.knopka_redactirovnie{
font-family: 'Conv_MyriadPro-Regular';
font-size:12px;
float:right;
padding-right:25px;
}
.knopka_redactirovnie a {
display:block;
cursor:pointer;
text-decoration:none;
color:#EE250A;
line-height:20px;
padding-right:13px;
text-decoration:underline;
line-height:130%;
}
.knopka_redactirovnie a:hover{
color:#101010;
}
  p.clip {
font-family: 'segoe_uiregular';
	color:#666666;
   
   }
   .characteristic p{
   padding-right:25px;
   font-size:14px;
  font-family: 'segoe_uiregular';
   color:#666666;
   line-height:130%;
   }
 .palka_niz4{
 background:url(../images/site/palka_blocka.png) repeat-x;
 width:154px;
 margin-top:20px;
 height:1px;
 }
 .left_kolonka{
 float:left;
 color:#666666;
 font-size:14px;
 width:125px;
 margin-right:11px;
 margin-bottom:10px;
 font-family: 'Conv_767659' !important;
 text-shadow:none !important;
 font-weight:normal;
 }
 .right_kolonka{
 float:left;
 width:77%;
  margin-bottom:10px;
  font-size:14px;
   color:#666666;
   font-family: 'segoe_uiregular';
 }
  .perechen{
 color:#EE250A;
font-family: 'segoe_uiregular';
padding-right:25px;
 }
 .perechen a{
 color:#EE250A;
 font-size:14px;
 }
  .perechen a:hover{
  color:#101010;
  }
.block2_left{
width:210px;
float:left;
margin-right:40px;
}
.block2_right{
width:210px;
float:left;
margin-left:40px;
}
.left_text{
float:left;
width:100px;
margin-right:30px;
font-size:14px;
font-family: 'Conv_767659' !important;
   color:#666666;
      margin-bottom:10px;
}
.right_text{
float:right;
width:80px;
font-size:14px;
font-family: 'segoe_uiregular';
   color:#666666;
   margin-bottom:10px;
}




/*-----------------------------------------------------------------------------------*/
/*	3. CAROUSEL
/*-----------------------------------------------------------------------------------*/

.ui-carousel3 {
	
	margin: 0;
height:133px !important;
	padding: 0;
	position: relative; /*for ie7 to work e.g in html carousels*/
}

.ui-carousel3 > .wrapper {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel3 > .wrapper > * {
	float: left;


}



.d-carousel3{


width:100%;
height:141px;

margin-bottom:41px;
}
.d-carousel3 ul{
width:100%;
height:141px;
overflow: hidden;


}
 .d-carousel3 ul li {
	float:left;
	padding-top:26px;
	padding-bottom:22px;
margin-right:15px;

}
.zoom3 { float:left; position:relative; cursor:pointer; left:0; top:0; width:97px; height:97px;	border-color: transparent;
border-width:4px 4px 4px 4px;

 }
.carousel3 img:hover{
border:4px solid #EE250A !important;

}

.d-carousel3 .jcarousel-container {
	display: block;
	overflow: hidden;
	
}


.d-carousel3 .jcarousel-container-horizontal {
	width: 100%;
	height: 141px;
	box-sizing:border-box ;
		padding-left:58px !important;
padding-right:53px !important;
}

.d-carousel3 .jcarousel-item-horizontal {
	margin-left: 3px;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-right: 11px;
}

.d-carousel3 .jcarousel-next-horizontal {
	position: absolute;
	top: 60px;
	right: 0px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: transparent url(../images/site/next.png) no-repeat;
}
.d-carousel3 .jcarousel-next-horizontal:hover {
	background: transparent url(../images/site/next2.png) no-repeat;
}





.d-carousel3 .jcarousel-prev-horizontal {
	position: absolute;
	top: 60px;
	left: 0px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: transparent url(../images/site/last.png) no-repeat;
}
.d-carousel3 .jcarousel-prev-horizontal:hover{
	background: transparent url(../images/site/last2.png) no-repeat;
}
.clear{clear: both}

.flash-success{
    background-color: #52A959;
    color: #fff;
    padding: 13px;
    border-radius: 5px;
}

.visitor-info {
    margin: 15px 0;
    padding: 15px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    float:left;
    height: 100%;
    width: 100%;
}

.visitor-photo {
    float: left;
    min-width: 190px;
    min-height: 190px;
}