*{
	margin:0;
	padding:0;
	}
a img{
	border:none;
	}
body{
background:url(../images/fon_saite.jpg) no-repeat center ;


font-family: 'segoe_uiregular';
}

@font-face {
	font-family: 'Conv_segoeui';
	src: url('../fonts/segoeui/segoeui.eot');
	src: local('вє'), url('../fonts/segoeui/segoeui.woff') format('woff'), url('../fonts/segoeui/segoeui.ttf') format('truetype'), url('../fonts/segoeui/segoeui.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_999112';
	src: url('../fonts/999112/999112.eot');
	src: local('вє'), url('../fonts/999112/999112.woff') format('woff'), url('../fonts/999112/999112.ttf') format('truetype'), url('../fonts/999112/999112.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'segoe_uiregular';
    src: url('../fonts/webfontkit/segoeui-webfont.eot');
    src: url('../fonts/webfontkit/segoeui-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit/segoeui-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit/segoeui-webfont.woff') format('woff'),
         url('../fonts/webfontkit/segoeui-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit/segoeui-webfont.svg#segoe_uiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#wreaper{

}
#wreaper2{
max-width:1920px;
margin:0 auto;
padding:0 30px;
}
.header{
width:100%;
height:88px;
margin-top:20px;
background: rgba(0,0,0,0.5);

}

.logo{
padding-left:58px;
padding-top:24px;
float:left;
font-family: 'Conv_999112';
font-size:30px;
}
.logo a {
text-decoration:none;
color:#fff;
}
.img_logo{
display:block;
float:left;
}
.logo_text{
padding-left:30px;
display:block;
float:left;
}

.otstyp_palka{
float:left;
margin-left:58px;
margin-top:29px;
}
.silki{
float:left;
margin-left:56px;
margin-top:36px;
margin-right:23px;
font-size:14px;

}
.silki a {
text-decoration:none;
color:#fff;
}
.img_silki{
display:block;
float:left;
padding-top:1px;
}
.text_silki{
display:block;
float:left;
padding-left:8px;

}
.img_silki2{
display:block;
float:left;
}











#tabs{

}
.tabs-navigation{
list-style:none;
font-size:24px;
margin-top:41px;
width:100%;
height:58px;

}
.tabs-navigation li{
float:left;
}
.tabs-navigation a {
display:block;
text-decoration:none;
color:#000;
padding-left:30px;
padding-right:30px;
height:53px;
background:#8C8980;
line-height:53px;
text-align:center;
margin-right:5px;
border-top:5px solid transparent;
}
.tabs-navigation li.selected a, .tabs-navigation li:hover a{
border-top:5px solid #EE250A;
   background:#fff;
	
	     }

.contents_taba{
background:#fff;
width:100%;
padding-top:24px;


}
.form1{
width:362px;
height:42px;
border:1px solid #DADADA;
margin-left:62px;
margin-top:32px;
font-size:14px;
color:#A9A8A8;
text-indent:22px;
line-height:42px;
outline:none;
float:left;
}
.form2{
width:362px;
height:42px;
border:1px solid #DADADA;
float:left;
margin-left:62px;
margin-top:32px;
font-size:14px;
color:#A9A8A8;
text-indent:22px;
line-height:46px;
outline:none;
}
.form3{
width:180px;
height:42px;
border:1px solid #DADADA;

margin-top:32px;
font-size:14px;
color:#A9A8A8;
text-indent:22px;
line-height:42px;
outline:none;
float:left;
z-index: 1;
}

.block_age{
position:relative;
width:362px;
margin-left:62px;
float:Left;
}
.img_age{
background: url(../images/age.png) no-repeat;
width: 16px;
height: 16px;
position: absolute;
left: 149px;
top: 46px;
z-index: 500;
}

.chex_right{
width:362px;
text-align:left;
float:left;
margin-left:62px;

}
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#4B4B4B;
 
    font-size:14px;
	float:left;
	margin-top:45px;
	
}

input[type="checkbox"] + label .pseudo-checkbox {
    display:inline-block;
	float: left;
    width:19px;
    height:19px;
	margin:-2px 13px 0 0px;
    background:url(../images/kybik.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label .pseudo-checkbox {
    background:url(../images/kybik.png) 0px -19px no-repeat;
}
.pravila_saita a{
color:#EE250A;
}


.register{
background:#EE250A;
width:208px;
height:44px;
border:none;
cursor:pointer;
font-size:18px;
color:#FFF;
outline:none;
margin:74px auto 0 auto;
display:block;
}
.palka_bot{
border-top:1px solid #DFDFDF;
width:100%px;
margin-left:62px;
margin-right:62px;
margin-top:34px;
}
.img_bot{
background:url(../images/ft1.png) repeat-x;
width:100%;
height:54px;
padding-bottom:20px;
margin-top:40px;
}
.contents_taba2{
background:#fff;
width:100%;
padding-top:24px;

}
.i_want{
float:left;
margin-left:58px;
}
.i_want a{
color:#fff;
font-size:12px;
display:block;

}
.img_i_want{
margin-top:2px;
float:right;
padding-left:5px;
}
/*-----------------------------------------------------------------------------------*/
/*	3. CAROUSEL
/*-----------------------------------------------------------------------------------*/
.d-carousel{

margin-top:28px;
width:100%;
height:141px;

margin-bottom:30px;
}
.d-carousel ul{
width:100%;
height:141px;
overflow: hidden;


}
 .d-carousel ul li {
	float:left;
	padding-top:26px;
	padding-bottom:22px;
margin-right:15px;

}
.zoom { float:left; position:relative; cursor:pointer; left:0; top:0; width:97px; height:97px;	border-color: transparent;
border-width:4px 4px 4px 4px;

 }
.carousel img:hover{
border:4px solid #EE250A !important;

}

.d-carousel .jcarousel-container {
	display: block;
	overflow: hidden;
	
}


.d-carousel .jcarousel-container-horizontal {
	width: 100%;
	box-sizing:border-box ;
	height: 141px;
		padding-left:50px !important;
padding-right:50px !important;
}

.d-carousel .jcarousel-item-horizontal {
	margin-left: 8px;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-right: 11px;
}

.d-carousel .jcarousel-next-horizontal {
	position: absolute;
	top: 60px;
	right: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: transparent url(../images/next.png) no-repeat;
}





.d-carousel .jcarousel-prev-horizontal {
	position: absolute;
	top: 60px;
	left: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: transparent url(../images/last.png) no-repeat;
}


#footer{
width:100%;
height:71px;
}
.block_left{
float:left;
}
.attendance{
 font-size:12px;
 color:#fff;
 padding-bottom:8px;
}
.attendance a {
color:#FFf;
}
.foot_menu{
list-style:none;
font-size:12px;
margin:0px auto 0 auto;
width:590px;
padding-top:20px;
}
.foot_menu li{
float:left;
height:15px;

background:url(../images/palka_menu.png) no-repeat 0 3px;
}
.foot_menu li.first{
background:none;
}
.foot_menu a {
display:block;
color:#fff;
margin-left:20px;
margin-right:20px;
box-sizing:border-box ;
}
.counter{
float:right;
margin-top:10px;
}



