        .someOtherTheme {
            margin:5px 0px 8px 0px;
            overflow: hidden;

            position: relative;
            border-radius:7px;
            color:#fff;
            font-size:11px;
        }

        .someOtherTheme.noty_container_type_alert {
            background-color: #000;
            border: 1px solid #000;
            box-shadow: 0px 0px 10px #000;
            opacity: 0.9;
        }

        .someOtherTheme.noty_container_type_information {
            background-color: #bbe1e8;
        }

        .someOtherTheme.noty_container_type_error {
            background-color: #FF0000;
            opacity: 0.7;
            border: 1px solid #FF0000;
            box-shadow: 0px 0px 2px #FF0000;
        }

        .someOtherTheme.noty_container_type_warning {
            background-color: #AFA000;
            opacity: 0.7;
            border: 1px solid #AFA000;
            box-shadow: 0px 0px 2px #AFA000;
        }

        .someOtherTheme.noty_container_type_success {
            background-color: #2975A7;
            opacity: 0.7;
            border: 1px solid #2975A7;
            box-shadow: 0px 0px 2px #2975A7;
        }

        .someOtherTheme .noty_message {
            padding: 8px 15px;
            color:#fff;
        }

        .noty_title{
            font-weight: bold;
            color:#6FAFDE;
        }

        .noty_title span{
            font-weight: normal;
            color:#fff;
        }

        .noty_title_main {
            font-weight: bold;
            font-size:12px;
            margin-bottom:5px;
            color:#fff;
        }
        
        .noty_img {
            border-radius:2px;
            margin-right:10px;
            margin-bottom:8px;
        }

        .someOtherTheme .noty_close {
            position: absolute;
            top: 4px;
            right: 4px;
            width: 10px;
            height: 10px;
            visibility: hidden;
            opacity: 0.6;
            cursor: pointer;
            font-size:12px;
        }

        .someOtherTheme:hover > .noty_bar > .noty_message > .noty_close {
            visibility: visible;
        }

        .noty_modal.someOtherTheme {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #000;
            z-index: 10000;
            opacity: 0.6;
            display: none;
            border: none;
            left: 0;
            top: 0
        }