* {
	margin:0;
	padding:0;
}

body,html {
	height:100%;
}

body {
	background: #fff;
	min-height:100%;
	font-family: tahoma, sans-serif;
	color: #5f5f5f;
	font-size: 12px;
}

a, img {
	outline:none;
	border:none;
}

a {
	text-decoration:none;	
	cursor:pointer;
	color:#00489d;
}

a:hover {
	text-decoration:underline;	
	color:#00489d;
}

i {
	margin-right:4px;
}

li {list-style: none}

#wrapper {
	width: 980px;
	margin: 0 auto;
	min-height: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.in-block {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline; 
	_overflow:hidden;	
}

.hidden {
	overflow: hidden;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.txt-left {
	text-align: left;
}

.txt-right {
	text-align: right;
}

.txt-center {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 14px;
	margin: 0 0 15px;
	color: #002245;
}

h3,
h4 {
	font-size: 15px;
	margin: 0 6px;
}

p {
	margin-bottom: 16px;
}

div {
	position: relative;
}

/* HEADER */

#header {
	width: 100%;
	height: 40px;
	background: url("../images/../images/bg-header.jpg") no-repeat;
}

a.logo {
	background: url("../images/../images/logo.png") no-repeat;
	position: absolute;
	left: 12px;
	top: 0;
	width: 187px;
	height: 40px;
}

ul#nav {
	list-style: none;
	position: absolute;
	right: 0;
	top: 10px;
}

ul#nav li {
	float: left;
	padding-left: 12px;
	background: url("../images/border-nav.png") no-repeat;
	height: 21px;
	line-height: 21px;
	font-size: 13px;
	margin: 0 10px 0 0;
}

ul#nav li:first-child {
	background: none;
	padding-left: 0;
}

ul#nav li a {
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 0 #002144;
}

ul#nav li a:hover {
	text-decoration: underline;
	color: #fff;
}

.form-search {
	position: absolute;
	left: 212px;
	top: 9px;
	background: url("../images/form-search.png") no-repeat;
	width: 169px;
	height: 22px;
}

.form-search .search-field {
	float: left;
	background: none;
	border: none;
	font-size: 11px;
	color: #97c8e0;
	padding: 0 6px;
	margin-top: 4px;
	width: 120px;
}

.form-search .search-btn {
	float: right;
	background: none;
	overflow: visible;
	cursor: pointer;
	border: none;
	width: 22px;
	height: 22px;
}

/* END HEADER */

/* CONTENT */

#content {
	padding: 0 0 85px;
}

#leftcol {
	float: left;
	width: 210px;
	padding-top: 10px;
	margin-left: 10px;
}

#maincol {
	float: right;
	width: 758px;
	border: 1px solid #bcdceb;
	border-top: none;box-shadow: 0px 0px 3px #ccc, 0 10px 15px #fff inset;
}

.statistics {
	width: 100%;
	overflow: hidden;
}

.statistics ul {
	list-style: none;
	width: 100%;
}

.statistics ul li {
	padding: 4px 0;
	width: 100%;
	overflow: hidden;
	font-size: 11px;
}

.statistics ul li .name {
	color: #8b9894;
	float: left;
	width: 115px;
	margin-left: 7px;
}

.statistics ul li .value {
	color: #6e869a;
	float: right;
	width: 58px;
}

.statistics ul li.odd {
	background: #f1f7fa;
}

.title,
.subtitle {
	padding: 6px 0;
	overflow: hidden;
	margin-bottom: 1px;
}

.title {
	background: #ddedf5;
}

.subtitle {
	background: #eaeaea;
}

#maincol .subtitle {
	background: url("../images/subtitle-maincol.png") repeat-x #eaeaea;
}

.subtitle span {
	color: #525252;
	font-size: 13px;
	margin: 0 6px;
}

#maincol .subtitle span {
	margin: 0 16px;
	font-size: 13px;
	color: #0c3a63;
	text-shadow: 1px 1px 0 #fff;
}

.registration {
	width: 190px;
	overflow: hidden;
	margin-bottom: 25px;
}

.registration h4 {
	color: #66cc00;
	font-size: 14px;
	text-align: right;
	margin-bottom: 5px;
}

.registration .inputs {
	width: 100%;
	overflow: hidden;
	margin-bottom: 8px;
}

.registration .inputs .field {
	
		border:1px solid #C9C9C9;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #f9f9f9 inset;
		border-radius:2px;
		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
	

	color: #a4a4a4;
	font-size: 12px;
	padding: 6px 5px;
	width: 178px;
}


.registration .inputs .field:focus {
	border:1px solid #A0A0A0;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #F2F2F2 inset;
}

.registration .remind-link {
	color: #5f5f5f;
	font-size: 11px;
}

.registration .checked input {
	vertical-align: middle;
}

.btn {
	overflow: visible;
	cursor: pointer;
	border: none;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 0 #001f3f;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	font-family: tahoma, sans-serif;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline; 
	_overflow:hidden;	
	vertical-align: top;		
}

.btn:hover {
	color: #fff;
	text-decoration: none;
}

a.btn {
	height: 33px;
	line-height: 29px;
}

input.btn {
	padding: 7px 0 12px;
}

.btn.standart {
	background: url("../images/btn-standart.png") no-repeat;
	width: 190px;
}

.btn.small {
	background: url("../images/btn-small.png") no-repeat;
	width: 128px;
}

a.btn.small {
	height: 26px;
	line-height: 26px;
}

input.btn.small {
	padding: 5px 0 7px
}

.btn.sendmessage {
	background: url("../images/btn-small2.png") no-repeat;
	width: 180px;
	margin-bottom:5px;
}

.btn.wide {
	background: url("../images/btn-wide.png") no-repeat;
	width: 198px;
}

a.btn.wide {
	height: 26px;
	line-height: 26px;
}

input.btn.wide {
	padding: 5px 0 7px
}

.btn.long {
	background: url("../images/btn-long.png") no-repeat;
	width: 226px;
}

.socials ul {
	list-style: none;
	width: 100%;
	text-align: center;
}

.socials ul li {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline; 
	_overflow:hidden;	
	vertical-align: top;	
	margin: 0 2px;
}

.socials ul li a {
	display: block;
	width: 25px;
	height: 25px;
}

.socials p {
	font-size: 13px;
	margin-bottom: 5px;
}

.socials p strong {
	font-size: 12px;
}

.icn-mail {
	background: url("../images/socials.png") no-repeat 0 0;
}

.icn-fb {
	background: url("../images/socials.png") no-repeat -35px 0;
}

.icn-od {
	background: url("../images/socials.png") no-repeat -69px 0;
}

.icn-tw {
	background: url("../images/socials.png") no-repeat -104px 0;
}

.icn-ar {
	background: url("../images/socials.png") no-repeat -140px 0;
}

.chat {
	margin-bottom: 35px;
}

.chat .footer {
	text-align: center;
	padding-top: 14px;
}

.chat .message {
	font-size: 11px;
	padding-bottom: 2px;
	margin-bottom: 1px;
	background: url("../images/border-separate.png") repeat-x 0 100%;
}

.chat .message p {
	margin-bottom: 6px;
	color: #333;
}

.chat .message .head {
	background: #ecf5f9;
	padding: 4px 0;
	width: 100%;
	overflow: hidden;
	margin-bottom: 4px;
}

.chat .message .head .new-msg {
	width: 20px;
	height: 15px;
	margin-right: 6px;
	background: url("../images/icn-new-msg.png") no-repeat;
}

.chat .message .head .name {
	margin-left: 6px;
	color: #155186;
}

.chat .message .foot {
	background: #e2e2e2;
	padding: 4px 0;
	overflow: hidden;
	width: 100%;
}

.chat .message .foot a {
	font-weight: bold;
	margin-left: 6px;
	color: #216699;
}

.chat .message .foot a:hover {
	color: #216699;	
}

.chat .message .foot .short-data {
	margin-right: 6px;
}

.chat .message img {
	margin: 0 7px 7px 0;
	float: left;
}

.leader {
	margin-bottom: 35px;
	overflow: hidden;
}

.leader .user {
	margin: 14px 0 0 34px;
}

.extended-link {
	color: #1f6396;
	font-size: 11px;
	text-decoration: underline;
	margin-right: 6px;
	margin-top: 2px;
}

.extended-link:hover {
	color: #1f6396;
	text-decoration: none;
}

ul.pagination {
	list-style: none;
	margin-right: 6px;
}

ul.pagination li {
	float: left;
}

ul.pagination li a {
	display: block;
	width: 21px;
	text-align: center;
	height: 21px;
	line-height: 21px;
	color: #145185;
	text-decoration: none;
	font-size: 13px;
}

ul.pagination li a:hover {
	color: #145185;
	text-decoration: underline;
}

ul.pagination li a.current,
ul.pagination li.selected a,
ul.pagination li a.current:hover {
	text-decoration: none;
	color: #fff;
	background: #245F98;
	border-radius: 4px;
	border: 1px solid #145185;
}

.participants {
	padding: 12px 12px 12px 0;
	overflow: hidden;
	width: 746px;
}

.user {
	width: 104px;
	height: 210px;
	float: left;
	margin: 0 0 30px 19px;
	text-align: center;
}

.user img {
	display: block;
	margin-bottom: 5px;
}

.user span {
	display: block;
}

.user .name {
	color: #155186;
	margin-bottom: 2px;
}

.user .city {
	color: #5f5f5f;
	margin-bottom: 2px;
	font-size: 11px;
}

.user .age {
	color: #333;
	margin-bottom: 4px;
	font-size: 11px;
}

.add-friend {
	display: block;
	width: 104px;
	height: 18px;
	line-height: 18px;
	background: #ddedf5;
	color: #6e869a;
	font-size: 10px;
	text-align: center;
}

.add-friend:hover {
	text-decoration: underline;
	color: #6e869a;
}

.mobile,
.online {
	display: block;
	width: 104px;
	height: 18px;
	margin-bottom: 2px;
}

.title .mobile, 
.title .online {
	margin: 0 6px 0 0;
}

.mobile {
	background: url("../images/mobile.png") no-repeat;
}

.online {
	background: url("../images/online.png") no-repeat;
}

.icn-real {
	background: url("../images/icn-real.png") no-repeat;
	position: absolute;
	top: 0;
	right: -10px;
	width: 40px;
	height: 41px;
}

.icn-one {
	background: url("../images/icn-one.png") no-repeat;
	position: absolute;
	top: 0;
	right: -10px;
	width: 40px;
	height: 41px;
}

.search-partner {
	background: url("../images/search-partner.jpg") no-repeat;
	width: 478px;
	height: 164px;
	margin-bottom: 20px;
	margin-top: -1px;
	border-bottom: 1px solid #bcdceb;
	padding: 18px 262px 0 18px;
}

.search-partner.wide-search {
	height: auto;
	background: none;
	border-bottom: none;
	padding: 0;
	width: auto;
}

.search-partner .inputs {
	width: 550px;
	overflow: hidden;
	margin-bottom: 10px;
}

.search-partner .inputs .inline {
	float: left;
	margin-left: 22px;
	font-weight: bold;
	line-height: 17px;
}

.search-partner .inputs .inline:first-child {
	margin-left: 0;
}

.search-partner .inputs .col {
	width: 150px;
	float: left;
	margin-left: 12px;
}

.search-partner .inputs .col:first-child {
	margin-left: 0;
}

.search-partner .inputs.special-inputs {
	background: url("../images/special-inputs.png") no-repeat;
	padding: 10px 0 0;
	height: 25px;
	margin-bottom: 5px;
	text-align: center;
	width: 478px;
	overflow: visible;
}

.search-partner .inputs.special-inputs span {
	position: absolute;
	left: 25px;
	top: -7px;
}

.search-partner .inputs.special-inputs input {
	vertical-align: middle;
	margin-left: 6px;
}

.search-partner .inputs.special-inputs input:first-child {
	margin-left: 0;
}

.search-partner .inputs.special-inputs label {
	color: #002040;
	font-size: 11px;
}

select {

	height:23px;
	width: 150px;
	font-size: 11px;	
	padding: 3px;
}

select.short {
	width: 105px;
	margin-left: 3px;
}

.txt-field {

	height:20px;
	padding: 1px;
	font-size: 11px;
}

.txt-field.short {
	width: 22px;
	margin-left: 3px;	
}

.vertical-nav {
	margin-bottom: 20px;
	width: 180px;
}

.vertical-nav ul {
	list-style: none;
}

.vertical-nav ul li {
	border-top: 1px dashed #bcdceb;
	padding: 5px 10px;
}

.vertical-nav ul li:first-child {
	border-top: none;
}

.vertical-nav ul li a {
	color: #525252;
	font-size: 13px;
	text-decoration: none;
}

.vertical-nav ul li a:hover {
	text-decoration: underline;
	color: #525252;	
}

.vertical-nav ul li a span,
.vertical-nav ul li a:hover span {
	color: #1e5f93;
	font-weight: bold;
	font-size: 11px;
	padding-top:2px;
}

.archive-link,
.hide-link,
.update-link {
	margin-right: 6px;
	margin-top: 3px;
	text-decoration: underline;
	color: #1f6396;
	font-size: 11px;
}

.archive-link:hover,
.hide-link:hover.
.update-link:hover {
	text-decoration: none;
	color: #1f6396;	
}

.wall {
	padding: 9px;
}

.wall .leftcol {
	float: left;
	width: 180px;
}

.wall .rightcol {
	float: right;
	width: 545px;
}

.face-user {
	width: 180px;
	height: 240px;
	margin-bottom: 10px;
}

.menu-wall {
	margin-bottom: 18px;
}

.menu-wall ul {
	list-style: none;
}

.menu-wall ul li {
	border-top: 1px dotted #96c8e0;
	padding: 5px 0;
}

.menu-wall ul li:first-child {
	border-top: none;
}

.menu-wall ul li a {
	color: #246c9e;
	font-size: 11px;
	text-decoration: none;
}

.menu-wall ul li a:hover {
	color: #246c9e;
	text-decoration: underline;
}

.albums,
.videoalbums {
	margin-bottom: 26px;
	padding: 4px 5px;
}

.albums strong {
	position: absolute;
	background: url("../images/bg-overlay-albums.png");
	color: #fff;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5px 7px;
	font-size: 11px;
}

.videoalbums .foot {
	width: 100%;
	overflow: hidden;
	font-size: 11px;
	padding-top: 7px;
}

.videoalbums .foot .date {
	color: #858585;
}

.videoalbums .foot .comments {
	color: #246c9e;
}

.playbutton {
	position: absolute;
	width: 51px;
	height: 34px;
	left: 50%;
	top: 50%;
	margin: -17px 0 0 -25px;
	background: url("../images/playbutton.png") no-repeat;
	cursor: pointer;
}

.friends {
	width: 187px;
	overflow: hidden;
	margin-bottom: 0px;
	padding-top: 5px;
	margin-left: -7px;
}

.friends a {
	float: left;
	width: 55px;
	height: 80px;
	margin: 0 0 13px 7px;
	text-align: center;
	color: #155186;
}

.friends a img {
	display: block;
	margin-bottom: 2px;
}

.friends a span {
	text-decoration: none;
}

.friends a:hover span {
	text-decoration: underline;
}

.presents {
	width: 184px;
	overflow: hidden;
	margin-bottom: 20px;
	padding-top: 5px;
	margin-left: -4px;
}

.presents a {
	float: left;
	width: 55px;
	height: 55px;
	border: 1px solid #def6f1;
	margin-left: 4px;
}

.data-user {
	margin-bottom: 12px;
	font-size: 11px;
}

.data-user ul {
	list-style: none;
	width: 320px;
	margin-bottom: 8px;
}

.data-user ul li {
	border-top: 1px dotted #96c8e0;
	padding: 5px 0;
	overflow: hidden;
	width: 100%;
}

.data-user ul li:first-child {
	border-top: none;
	padding-top: 0;
}

.data-user ul li label {
	float: left;
	width: 124px;
	color: #858585;
}

.data-user ul li span {
	float: right;
	color: #246c9e;
	width: 185px;
}	

.data-user a {
	color: #246c9e;
	text-decoration: none;
}

.data-user a:hover {
	color: #246c9e;
	text-decoration: underline;
}

.addphotos-link,
.recording-link {
	margin-right: 6px;
	color: #1f6396;
	text-decoration: underline;
	font-size:11px;
	margin-top:3px;
}

.addphotos-link:hover,
.recording-link:hover {
	color: #1f6396;
	text-decoration: none;
}

.photos {
	overflow: hidden;
	width: 561px;
	margin-left: -9px;
	padding-top: 4px;
	margin-bottom: 10px;
}

.photos a {
	float: left;
	width: 59px;
	margin-left: 10px;
}

.write-msg {
	background: #f3f9fc;
	margin-bottom: 15px;
	border: 1px solid #ddedf5;
	padding: 10px;
}

.write-msg textarea {
	background: #fff;
	border: 1px solid #bcdceb;
	resize: vertical;
	font-family: tahoma, sans-serif;
	color: #5f5f5f;
	font-size: 12px;
	padding: 5px;
	height: 37px;
	width: 508px;
	margin-bottom: 6px;
}

.write-msg .foot {
	width: 100%;
	overflow: hidden;
}

.write-msg .foot a {
	line-height: 26px;
	color: #246c9e;
	text-decoration: none;
	font-size: 11px;
}

.write-msg .foot a:hover {
	color: #246c9e;
	text-decoration: underline;
}

.recording-wall {
	width: 100%;
	overflow: hidden;
}

.recording-wall .cell {
	width: 100%;
	overflow: hidden;
	padding: 10px 0;
	border-top: 1px solid #bcdceb;
}

.recording-wall .cell:first-child {
	border-top: none;	
	padding-top: 0;
}

.recording-wall .cell .cont {
	margin: 0 0 12px 62px;
	color: #333;
	font-size: 11px;
}

.recording-wall .cell .name {
	color: #001f3f;
	font-size: 13px;
	display: block;
	margin-bottom: 6px;
}

.recording-wall .cell .foot {
	margin-left: 62px;
	overflow: hidden;
	font-size: 11px;
}

.recording-wall .cell .foot .date {
	color: #858585;
}

.recording-wall .cell .foot a {
	color: #246c9e;
	text-decoration: none;
}

.recording-wall .cell .foot a:hover {
	color: #246c9e;
	text-decoration: underline;
}

.reg-form {
	background: #f3f9fc;
	border-bottom: 1px solid #ddedf5;
	border-top: 1px solid #ddedf5;
	padding: 13px 0;
}

.tab {
	background: #f3f9fc;
	border-bottom: 1px solid #ddedf5;
	border-top: 1px solid #ddedf5;
	padding: 13px 20px;
}

.tab .reg-form {
	padding: 0;
	border: none;
}

.reg-form .inputs {
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}

.reg-form .inputs label.control-label {
	float: left;
	width: 200px;
	text-align: right;
	padding-top: 2px;
	margin-right: 12px;
	color: #525252;
	font-size: 11px;
}

.tab .reg-form .inputs label.control-label {
	width: 180px;
}

.reg-form .inputs .txt-field {
	width: 304px;
	float: left;
}

.reg-form .inputs select {
	width: 308px;
}

.reg-form .inputs .checkboxes {
	margin-left: 192px;
}

.reg-form .inputs .checkboxes .inputs label {
	float: none;
	text-align: left;
}

.reg-form .inputs .checkboxes .inputs input {
	vertical-align: middle;
}

.reg-form .inputs .cupcha-box {
	margin-right: 12px;
}

.reg-form .inputs .btn {
	margin-left: 197px;
}

.tab .reg-form .inputs .btn {
	margin-left: 178px;
}

.reg-form .inputs .hint {
	float: right;
	width: 226px;
	font-size: 10px;
	color: #949494;
}

.reg-form .inputs .errorMessage {
	display: inline-block;
	margin-left:192px;
	font-size: 11px;
	color: red;
}

/*.reg-form .inputs textarea {
    border: 1px solid #dde1e4;
    color: #7E7E7E;
    font-size: 11px;
    height: 53px;
    margin-bottom: 10px;
    padding: 10px;
    resize: vertical;
    width: 478px;
    font-family: tahoma, sans-serif;
}*/

.confirmation {
	background: #f3f9fc;
	padding: 10px 16px;
	font-size: 11px;
	color: #414141;
}

.confirmation h3 {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 8px;
}

.confirmation h4 {
	color: #3083b3;
	font-size: 13px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 5px;	
}

.confirmation .small-text {
	font-size: 10px;
	display: block;
	margin-bottom: 3px;
}

.confirmation a {
	text-decoration: underline;
}

.confirmation a:hover {
	text-decoration: none;
}

.purchase-status {
	background: #f3f9fc;
	padding: 15px 13px;
	overflow: hidden;
}

.purchase-status .cont {
	margin-left: 196px;
}

.purchase-status ul {
	list-style: none;
	padding-left: 25px;
}

.purchase-status ul li {
	padding-left: 16px;
	background: url("../images/icn-check.png") no-repeat 0 0;
	margin-top: 10px;
}

.purchase-status ul li:first-child {
	margin-top: 0;
}

.purchase-status p {
	margin-bottom: 28px;
	color: #858585;
}

.purchase-status a {
	color: #062c52;
	text-decoration: underline;
}

.purchase-status a:hover {
	color: #062c52;
	text-decoration: none;
}

.purchase-status span {
	display: block;
	color: #3083b3;
	font-size: 14px;
	margin-bottom: 15px;
}

.activation-status {
	background: #f3f9fc;
	padding: 12px 32px;
}

.activation-status form {
	display: block;
	margin-bottom: 35px;
	overflow: hidden;
}

.activation-status .info {
	color: #858585;
	padding: 10px 0;
	margin-bottom: 15px;
	border-top: 1px solid #bcdceb;
	border-bottom: 1px solid #bcdceb;
	line-height: 1.8em;
}

.activation-status .info strong {
	color: #002245;
}

.activation-status .info span {
	color: #3083b2;
}

.activation-status .inputs {
	width: 100%;
	overflow: hidden;
	margin-bottom: 18px;
}

.activation-status .inputs label {
	width: 220px;
	float: left;
	color: #000;
	margin-right: 14px;
	text-align: right;
}

.activation-status .inputs .txt-field {
	width: 236px;
	float: left;
}

.activation-status .inputs select {
	width: 244px;
	float: left;
}

.activation-status .inputs .checkbox {
	clear: both;
	padding-left: 234px;
	padding-top: 8px;
	text-align: left;
	font-size: 11px;
}

.activation-status .inputs .checkbox input {
	vertical-align: middle;
}

.activation-status .btn {
	margin-left: 220px;
	float: left;
}

.minnor-text {
	color: #858585;
	font-size: 11px;
}

.minnor-text a {
	text-decoration: underline;
	color: #00438c;
}

.minnor-text a:hover {
	text-decoration: none;
	color: #00438c;
}

.section-tabs {
	width: 100%;
	overflow: hidden;
}

ul.tabs {
	width: 100%;
	list-style: none;
	overflow: hidden;
	height: 24px;
	margin-bottom: 1px;
	background: url("../images/subtitle-maincol.png") repeat-x #EAEAEA;
	padding: 1px 0 2px;
}

ul.tabs li {
	float: left;
	margin-left: 5px;
	cursor: pointer;
	height: 24px;
	line-height: 24px;
	padding: 0 8px;
	font-size: 11px;
	color: #0c3b63;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}

ul.tabs li.current,
ul.tabs li.active
{
	background: #0c3c63;
	color: #fff;
	text-shadow: 1px 1px 0 #082c47;
}

ul.tabs li.active a {
	color:#fff;
}
.section-tabs .tab {
	display: none;
}

.section-tabs .tab.visible {
	display: block;
}

.distance {
	padding: 18px;
}

.checkboxes-cols {
	overflow: hidden;
	padding-left: 25px;
}

.checkboxes-cols .col {
	float: left;
	width: 238px;
}

.checkboxes-cols .col.separate {
	margin-bottom: 25px;
}

.checkboxes-cols .col .inputs {
	margin-top: 6px;
	margin-bottom: 0;
	font-size: 11px;
}

.checkboxes-cols .col .inputs.separate {
	margin-bottom: 25px;
}

.checkboxes-cols .col .inputs input {
	vertical-align: middle;
	margin-right: 6px;
}

.want-receive {
	background: #f3f9fc;
	padding: 12px;
	width: 476px;
	border: 1px solid #ddedf5;
	clear: both;
}

.search-partner.wide-search .btn.standart {
	margin-left: 28px;
}

.who-search {
	clear: both;
	margin-bottom: 18px;
	width: 100%;
	overflow: hidden;
}

.who-search .col {
	float: left;
	width: 238px;
}

.who-search .params {
	width: 100%;
	overflow: hidden;
	padding-top: 6px;
}

.who-search .params label {
	margin-right: 8px;
	font-size: 11px;
}

.who-search .params select {
	width: 50px;
	margin-right: 12px;
}

.about-service {
	margin-bottom: 20px;
	padding: 10px 10px 10px 60px;
	background: url("../images/bg-about-service.jpg") no-repeat 0 50% #f3f9fc;
	border: 1px solid #ddedf5;
}

.about-service p {
	margin-bottom: 8px;
}

.about-service a {
	color: #526c83;
	text-decoration: none;
}

.about-service a:hover {
	color: #526c83;
	text-decoration: underline;
}

.about-service strong {
	color: #000;
}

.messages-box {
	width: 100%;
}

.messages-box .head {
	background: #fff;
	height: 28px;
	line-height: 28px;
	border-bottom: 1px solid #bcdceb;
	width: 738px;
	margin-left: -20px;
	padding: 0 10px;
	clear: both;
	overflow: hidden;
}

.messages-box .head span {
	color: #1a5a8e;
	font-weight: bold;
	margin-right: 12px;
}

.messages-box .message {
	background: #fff;
	width: 738px;
	margin-left: -20px;
	border-bottom: 1px solid #bcdceb;
	padding: 8px 10px;	
	overflow: hidden;
}

.messages-box .message .checked {
	float: left;
	padding: 22px 8px 0 0;
}

.messages-box .message .user-params {
	margin-left: 8px;
	width: 152px;
}

.messages-box .message .user-params .name {
	color: #001f3f;
	display: block;
	font-size: 13px;
	margin-bottom: 2px;
}

.messages-box .message .user-params .status {
	font-size: 13px;
	display: block;
	margin-bottom: 3px;
}

.messages-box .message .user-params .status.on-line {
	color: #6da003;
}

.messages-box .message .user-params .status.mo-bile {
	color: #183b5b;
}

.messages-box .message .user-params .date {
	color: #858585;
	font-size: 11px;
}

.messages-box .message .cont {
	background: #fff;
	border: 1px solid #fff;
	padding: 6px;
	width: 484px;
	min-height: 40px;
	height: auto !important;
	height: 40px;	
}

.messages-box .message.unread .cont {
	background: #f3f9fc;
	border: 1px solid #ddedf5;
}

.messages-box .message .cont .text-msg {
	width: 430px;
	color: #3b98c5;
}

.messages-box .message .cont .text-msg-remove {
	padding-left: 8px;
	padding-right: 8px;
	color: #3b98c5;
	vertical-align: middle;
}

.messages-box .message .cont .text-msg-remove a,
.messages-box .message .cont .text-msg-remove a:hover {
	color: #0c3b63
}

.control-bttns {
	padding: 0 0 16px;
	width: 100%;
	overflow: hidden;
}

ul.marking {
	list-style: none;
	margin-top: 7px;
}

ul.marking li {
	float: left;
	margin-left: 4px;
}

ul.marking li:first-child {
	margin-left: 0;
}

ul.bttns {
	list-style: none;
}

ul.bttns li {
	margin-left: 8px;
	float: left;
}

/* END CONTENT */

/* FOOTER */

#footer {
	width: 100%;
	background: #e2e2e2;
	margin-top: -50px;
}

#footer-wrapper {
	margin: 0 auto;
	width: 980px;
	height: 40px;
	padding: 10px 0 0;
	color: #666;
	text-shadow: 1px 1px 0 #fff;
}

#footer-wrapper a {
	color: #666;	
	text-decoration: none;
}

#footer-wrapper a:hover {
	color: #666;	
	text-decoration: underline;
}

.support-link {
	margin-top: 10px;
}

.counter {
	margin-left: 382px;
	line-height: 31px;
}

.counter-link {
	float: left;
	margin-right: 8px;
}

/* END FOOTER */


/* POPUP */

.overlay {
    background: url("../images/overlay.png");
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

.window {
	display: none;
    background: #fff;

    padding: 17px 0 0;
    position: absolute;

    z-index: 510;
}

.window.wide {
	background: #fff;
    width: 660px; 
}

.window .inner {
    background: url("../images/bg-bottom-window.png") no-repeat 0 100%;
    padding-bottom: 15px;	
}

.window.wide .inner {
    background: url("../images/bg-bottom-window-wide.png") no-repeat 0 100%;	
    width: 660px;        
}

.window .inner .container {
    background: url("../images/bg-repeat-window.png") repeat-y;
    padding: 0 20px;
    width: 620px;
}

.window.wide .inner .container {
    background: url("../images/bg-repeat-window-wide.png") repeat-y;
    padding: 0 18px;
    width: 624px;
}

.window .close {
    background: url("../images/icon-close.png") no-repeat;
    height: 10px;
    position: absolute;
    right: 13px;
    top: 10px;
    width: 10px;
}

.window .head {
    font-size: 14px;
    margin-bottom: 18px;
    overflow: hidden;
    width: 100%;
    line-height: 1.5em;
}

.window .head.loginhead {
	padding-left: 33px;
	background: url("../images/loginhead.png") no-repeat;
	width: 590px;
}

.window .head h3 {
	margin: 0;
	font-weight: bold;
	font-size: 17px;
	color: #000;
}

.window .head .us {
	display: block;
	color: #b0b0b0;
}

.window .head .us label {
	color: #333;
}

.chat-popup {
    overflow: hidden;
    width: 100%;
}

.chat-popup .leftcol {
    float: left;
    width: 222px;
    font-size: 12px;
}

.chat-popup .leftcol img {
    margin-bottom: 10px;
    width: 220px;
}

.chat-popup .rightcol {
    float: right;
    width: 388px;
}

form.chat-messanger {
    overflow: hidden;
    width: 100%;
}

.chat-popup form.chat-messanger .input-box-msg,
.chat-popup form.chat-messanger textarea {
    width: 366px;
}

.chat-popup form.chat-messanger .input-box-msg {
    height: 183px;
}


.login-form {
	padding: 0 0 0 92px;
	overflow: hidden;
	background: url("../images/bg-login-form.png") no-repeat 0 0;
}

.login-form .inputs {
	margin-bottom: 5px;
	width: 368px;
}

.login-form .inputs label {
	width: 62px;
	font-size: 14px;
	color: #333;
}

.login-form .inputs .txt-field {
	width: 284px;
	float: left;
	padding: 6px 8px;
}

.login-form .inputs .submit {
	margin-left: 8px;
	padding-left: 0;
	padding-right: 0;
	width: 158px;
}

.login-form a {
	font-size: 13px;
}

.firsttime {
	font-size: 13px;
	color: #333;
	width: 150px;
	line-height: 1em;
	margin-top: -3px;
	font-size: 11px;
}

.firsttime span {
	display: block;
	padding: 3px 0 0 3px;
	clear: both;
}

.login-form .firsttime a {
	font-size: 11px;
}

/* END POPUP */


.nolabel label{
	float:none;
	width: auto;
}
.nolabel {
	float:left;
	width: auto;
}

#easyTooltip{
	margin:0 10px 1em 0;
	width:200px;
	padding:8px;
	color:#fff;
	background:#000;
	border:1px solid #000;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
border-radius: 5px;  -moz-border-radius:5px;-webkit-border-radius:5px;
	filter:alpha(opacity=75); -moz-opacity: 0.75;  opacity: 0.75;
}

#easyTooltip p{
	margin:0;
} 

#easyTooltip img{
	background:#fff;
	width:40px;
	height:40px;
	float:left;
	margin-right:8px;
} 

.easyTooltip{
	display:none;
}



.error input {color:red;border:1px solid #FF0000;}


.reg-form.authModal .inputs label {
	width: 120px;
}

.reg-form.authModal .inputs .txt-field {
	width: 230px;
	float: left;
}
.reg-form.authModal .inputs select {
	width: 230px;
}

.reg-form.authModal .inputs .btn {
	margin-left: 120px;
}

.reg-form.authModal {
	width:400px;
	background: #fff;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	}
	
.authModal .left {margin-right:25px; }
.authModal .err {float:left;color:red;margin-left:133px;margin-bottom:10px;}

.authModal .ttl {margin-bottom:15px; }



.msgbox {
	background: url("../images/bg-main-container.jpg");
	border:1px solid #E8EDF7;
	padding: 14px 22px 14px 32px;
	overflow: hidden;
	margin: 0 0 6px;
	width: 640px;
	clear: both;
}

.msgbox img {
	float: left;
	width: 62px;
}

.msgbox .cont,
.msgbox .foot {
	margin: 0 0 0 79px;
}

.msgbox .cont {
	margin-bottom: 4px;
	font-size: 13px;
}

.msgbox .foot a {
	float: right;
	margin-left: 5px;
}

.msgbox .foot a.gr,
.msgbox .foot a.gr:hover {
	color: #669900;
}

.msgbox .foot .online,
.msgbox .foot .mobile {
	position: relative;
	float: left;
}

form.chat-messanger {
    overflow: hidden;
    width: 100%;
}


form.chat-messanger .input-box-msg {
    background: #fff;
    border: 1px solid #dde1e4;
    height: 94px;
    margin-bottom: 15px;
    padding: 10px;
    width: 678px;
}

form.chat-messanger .input-box-msg .msg {
    margin-bottom: 6px;
    font-size: 11px;
}

form.chat-messanger .input-box-msg .msg span {
    background: url("../images/icon-msg.jpg") no-repeat 0 50%;
    color: #9A9A9A;
    display: block;
    padding-left: 17px;
}


form.chat-messanger textarea {
    border: 1px solid #dde1e4;
    color: #7E7E7E;
    font-size: 12px;
    height: 53px;
    margin-bottom: 10px;
    padding: 10px;
    resize: vertical;
    width: 678px;
}


.friends-list {
	width: 100%;
	overflow: hidden;
}


.friends-list .row {
	float: left;
	width: 150px;
	margin-left: 38px;
	margin-bottom: 10px;
}
.friends-list .row.first {
	margin-left: 0px;
}

.friends-list .row img.ava {
	display: block;
	margin-bottom:5px;
}

.friends-list span.ttl {
	width: 140px;
	position: absolute;
	left: 0;
	right: 0;
	top: 96px;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	background: url("../images/bg-overlay-albums.png");
}
.friends-list span.f_online {
	font-size:10px;
	width: 42px;
	position: absolute;
	right: 0;
	top: 0px;
	color: #37BF00;
	font-weight: normal;
	padding: 3px;
	background: url("../images/bg-overlay-albums.png");
}

.friends-list span a{
	font-size:11px;
	color: #fff;
	text-shadow: 1px 1px 0 #262626;
}

.friend-nav {margin-top:5px;}

.friend-nav li {margin-top:7px;}


.photos-list {
	width: 100%;
	overflow: hidden;
}


.photos-list .row {
	float: left;
	width: 165px;
	margin-left: 18px;
	margin-bottom: 10px;
}
.photos-list .row.first {
	margin-left: 0px;
}

.photos-list .user img {
	display: block;
}

.photos-list span {
	width: 160px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2px;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	background: url("../images/bg-overlay-albums.png");
}


.photos-list span a{
	color: #fff;
	font-size:11px;
	text-shadow: 1px 1px 0 #262626;
}

.albums-list .row {
	margin-left: 18px;
	width: 350px;
}

.albums-list span {
	width: 340px;
}


.btn2 {
  display: inline-block;
  margin-bottom: 0;
  padding: 5px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
	  

	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 0 #4D98C6;
	text-align: center;
	text-transform: none;
	font-size: 12px;
	font-weight: bold;
	font-family: tahoma, sans-serif;
	display:-moz-inline-stack;
	display:inline-block;

}

.btn-default {
  color: #fff;
  background-color: #5AA5D1;
  border-color: #3082B2;
}

.btn-lg i{
	margin-right:10px;
  font-size:17px;
}

.btn-lg {
  padding: 12px 12px;
	margin-bottom:10px;
}


.btn2:hover,
.btn2:focus {
  color: #fff;
  text-decoration: none;
  background-color: #4D98C4;
  border-color: #1A6493;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

/** Styling input[type=file] **/
.btn-file { position: relative; overflow: hidden; margin-right: 4px; }
.btn-file input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4); font-size: 23px; direction: ltr; cursor: pointer; }
/* Fix for IE 7: */
* + html .btn-file { padding: 2px 15px; margin: 1px 0 0 0; }


#Buttons {
    padding: 0;
    position: relative;
    color: #666666;
    width: 200px;
    text-align: left;
    margin: 0;
}
#UploadResult{
    padding: 0 10px;
}
input#AddPhotos {
}
#Buttons span {
    line-height: 32px;
}
#Buttons input, .niceButton {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    background: url('btn.png') no-repeat 0 -32px;
    color: #666666;
    font-size: 14px;
    height: 32px;
    width: 115px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    line-height: 32px;
}
#Buttons input:hover, #Buttons input.hover, .niceButton:hover {
    background-position: 0 0;
    color: #333;
    outline: 0 none;
}

#Buttons object {
    outline: none;
    position: absolute;
}
input#Progress
{
    background: url('progress.png') no-repeat 0 0px;
    width: 115px;
    height: 32px;
    position: absolute;
    width: 0;
    padding: 0;
}




.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-striped .progress-bar {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.progress.active .progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.noavatar {width:180px; height:145px; background-color: #F2F2F2; display: block; padding-top:95px; text-align: center;}

.noavatar{color:#868686; font-weight: bold; font-size:11px;}

a.noavatar:hover{text-decoration: none;background-color: #E3E3E3; }
.noavatar i{font-size:45px; margin-bottom:5px;}


.alert {
	font-size:11px;
	font-weight:bold;
	text-shadow: 1px 1px 0 #FFFFFF;
	border-radius: 2px;
	padding:10px;
  border: 1px solid #BCDCEB;
	 background-color: #FAFCFC;
	 margin-bottom:5px;
	
}

.alert.alert-danger{
	text-shadow: 1px 1px 0 #FFFFFF;

  border: 1px solid #FFE5E8;
	 background-color: #FCF2F2;
	
}

.nolabel label{
	float:none;
	width: auto;
}
.nolabel {
	float:left;
	width: auto;
}


.search-about-service {
	margin-bottom: 20px;
	padding: 10px 10px 10px 60px;
	background: url("../images/bg-about-service.jpg") no-repeat 0 50% #f3f9fc;
	border-top: 1px solid #ddedf5;
	border-bottom: 1px solid #ddedf5;
}

.search-about-service p {
	margin-bottom: 8px;
}

.search-about-service a {
	color: #526c83;
	text-decoration: none;
}

.search-about-service a:hover {
	color: #526c83;
	text-decoration: underline;
}

.search-about-service strong {
	color: #000;
}

a#back_modalPhotoBox {
	padding:15px;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 100%;
	position: fixed;
	font-size:26px;
	color:#AAAAAA;

}

a#back_modalPhotoBox:hover {
	color:#fff;

}

#modalPhotoBox .descr {font-size:11px; color:#7E7E7E;}
#modalPhotoBox #likePhoto i {margin-left:3px;color:#90B9CB;}
#modalPhotoBox #likePhoto {margin-left:5px;}
#modalPhotoBox #likePhoto.link i {color:#3B7998;}
#modalPhotoBox #likePhoto {color:#3B7998; }
#modalPhotoBox .title_photo {font-size:11px; color:#246C9E;}
#modalPhotoBox #showModalLikePhoto {font-weight:bold;color:#3B7998;}


.photo_edit .pe_title {font-size:11px;color:#246C9E;margin-bottom:3px; font-weight: bold;}

.photo_edit textarea {
	background: #fff;
	border: 1px solid #bcdceb;
	resize: vertical;
	font-family: tahoma, sans-serif;
	color: #5f5f5f;
	font-size: 12px;
	padding: 5px;
	width: 555px;
	height:50px;
	margin-bottom: 6px;
}

.title h3 {font-size:12px; color:#246C9E;font-weight:bold; padding-top:3px;padding-bottom:3px;}
.title h4 {font-size:11px; color:#246C9E;font-weight:bold; padding-top:3px;padding-bottom:3px;}

.gifts {width:560px;}

.gifts .row {
	float: left;
	width: 90px;
	margin-left: 18px;
	margin-bottom: 10px;padding:5px; margin:3px;border: 1px solid #fff;
}

.gifts a img {}
.gifts .row:hover {background-color: #F3F9FC; border-radius: 5px;border: 1px solid #BCDCEB;box-shadow: 0px 0px 3px #DDEDF5, 0 10px 15px #F3F9FC inset;}

.gifts a div {
	display: none;
	width: 95px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	color: #246C9E;
	font-weight: bold;
	padding: 3px;
	font-size:11px;
	background: #BCDCEB;
	border-radius: 0px 0px 5px 5px;
	text-align:center;

}

.gifts a:hover div {
	display: block;

}
.gift_img i {font-size:30px; margin-right:15px;}


select {
	height:27px;
	padding-top:5px;
		border:1px solid #D8DBE0;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #fff inset;
		border-radius:2px;
		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
}

.txt-field {
	height:24px;
		border:1px solid #D8DBE0;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #fff inset;
		border-radius:2px;
		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
	
}


.textarea {
		border:1px solid #D8DBE0;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #fff inset;
		border-radius:2px;
		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
		
	resize: vertical;
	font-family: tahoma, sans-serif;
	color: #000;
	font-size: 12px;
	padding: 5px;
	
}

.txt-field:focus, select:focus, .textarea:focus {
	border:1px solid #A7B2C1;
}


a#change_status {color:#AAAAAA;}

table {
  max-width: 100%;
  background-color: transparent;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  display: table-cell;
  float: none;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: #d0e9c6;
  border-color: #c9e2b3;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
  border-color: #eed3d7;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  background-color: #ebcccc;
  border-color: #e6c1c7;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td {
  background-color: #faf2cc;
  border-color: #f8e5be;
}

.userlikes-list {
	width: 100%;
	overflow: hidden;
}


.userlikes-list .row {
	text-align:center;
	float: left;
	width: 100px;
	height:120px;
	margin-left: 0px;
	margin-right: 15px;
	margin-bottom: 10px;
}
.userlikes-list .row.last {

	margin-right: 0px;
}
.userlikes-list .row a {

	font-size:11px;
}

.userlikes-list span.f_online {
	font-size:10px;
	width: 10px;
	position: absolute;
	right: 0;
	top: 0px;
	color: #37BF00;
	font-weight: normal;
	padding: 2px;
}
.userlikes_c {border-radius:2px;margin-bottom:10px; background: #DDEDF5; padding:5px; font-size:11px; font-weight:bold; color:#246C9E;}

.userlikes-list img {
	width: 100px;
	height:100px;
}

.block-spotlight {
	width: 250px;
	overflow: hidden;
	margin-bottom: 0px;
	padding-top: 5px;
	margin-left: -7px;
	margin-bottom:5px;
}

.block-spotlight a {
	float: left;
	width: 63px;
	height: 110px;
	margin: 0 0 0px 7px;
	text-align: center;
	color: #155186;
}

.block-spotlight a img {
	display: block;
	margin-bottom: 2px;
}

.block-spotlight a span {
	text-decoration: none;
}

.block-spotlight a:hover span {
	text-decoration: underline;
}

.spotlight {
	width:758px;
	height: 100px;
	position: absolute;
	z-index: 1000;
	overflow: hidden;
	margin-bottom: 0px;
	padding-top: 5px;
	margin-bottom:5px;
}

.spotlight a {
	float: left;
	width: 61px;
	height: 75px;
	margin: 0 0 0px 7px;
	text-align: center;
	color: #155186;
}

.spotlight a img {
	border-radius: 4px;
	padding:1px;
	display: block;
	margin-bottom: 2px;
	border:1px solid #AAD3E8;
	box-shadow: 0px 0px 5px #DDEDF5;

}
.spotlight a img:hover {
	padding:1px;
	display: block;
	margin-bottom: 2px;
	border:1px solid #7CB4D1;
	box-shadow: 0px 0px 8px #AAD3E8;

}
.spotlight a.spl-iwanthere {
	margin-right:-3px;
	width: 60px;
	border-radius: 4px;
	padding:1px;
	display: block;
	border:1px solid #AAD3E8;
	box-shadow: 0px 0px 5px #DDEDF5;
	height: 75px;
background-color: #DDEDF5;
    	background: -webkit-gradient(linear, left top, left bottom, from(#DDEDF5), to(#CBE0EA));
	background: -webkit-linear-gradient(top, #DDEDF5, #CBE0EA);
	background: -moz-linear-gradient(top, #DDEDF5, #CBE0EA);
	background: -ms-linear-gradient(top, #DDEDF5, #CBE0EA);
	background: -o-linear-gradient(top, #DDEDF5, #CBE0EA);
	background: linear-gradient(top, #DDEDF5, #CBE0EA);
	

}


.spotlight a.spl-iwanthere span i{font-size:20px;}
.spotlight a.spl-iwanthere span {text-shadow: #fff 0px 1px;display: block;margin-top:14px; font-weight: bold; font-size:11px;}


.spotlight a.spl-iwanthere:hover {
	text-decoration: none;

	padding:1px;
	display: block;
	margin-bottom: 2px;
	border:1px solid #7CB4D1;
	box-shadow: 0px 0px 8px #AAD3E8;

}
.pickup {margin-left:30px; margin-right:30px;}

.pickup .left {width:100px; margin-right:25px;}
.pickup .left img {border-radius: 2px;}

.pickup .right {width:400px; font-size:12px; }

.pickup .left i {
	position: absolute;
	left: 105px;
	right: 0;
	top: 7px;
	color: #76B15D;
	font-size:50px;
	padding: 5px;
	text-shadow: #fff 1px 0;
}

.box-modal.box-modal-pickup{
	
	border-radius: 4px;
	
	box-shadow: 0px 0px 15px #DDEDF5;
	
background-color: #DDEDF5;
    	background: -webkit-gradient(linear, left top, left bottom, from(#DDEDF5), to(#B9D6E3));
	background: -webkit-linear-gradient(top, #DDEDF5, #B9D6E3);
	background: -moz-linear-gradient(top, #DDEDF5, #B9D6E3);
	background: -ms-linear-gradient(top, #DDEDF5, #B9D6E3);
	background: -o-linear-gradient(top, #DDEDF5, #B9D6E3);
	background: linear-gradient(top, #DDEDF5, #B9D6E3);
	

}


.box-modal.box-modal-pickup #title{ text-shadow: #EDF7FC 0px 1px; color:#246C9E;}

.pickup .pku-a1 {font-weight: bold; margin-bottom:5px;}

.pickup .pku-a2,.pickup .pku-a3 {margin-bottom:5px;}
.pickup  .btn2 {
	margin-top:10px;
	padding:10px 25px 10px 25px;
	text-shadow: #1B5C90 0px 1px;
	border:1px solid #2873A4;
	box-shadow: 0px 0px 7px #2E7EC1;
	
background-color: #3F9ECA;
    	background: -webkit-gradient(linear, left top, left bottom, from(#3F9ECA), to(#1B5B8F));
	background: -webkit-linear-gradient(top, #3F9ECA, #1B5B8F);
	background: -moz-linear-gradient(top, #3F9ECA, #1B5B8F);
	background: -ms-linear-gradient(top, #3F9ECA, #1B5B8F);
	background: -o-linear-gradient(top, #3F9ECA, #1B5B8F);
	background: linear-gradient(top, #3F9ECA, #1B5B8F);
	

}
.pickup  .btn2 i {font-size:15px; }
.pickup  .btn2:hover {
	box-shadow: 0px 0px 7px #155F8E;
	border:1px solid #155F8E;
	}
	
	
.photosrating-list {
	margin-left:-5px;
	margin-top:5px;
}

.photosrating-list .row{
	border-radius: 4px;
	padding:4px;
	border:1px solid #AAD3E8;
	box-shadow: 0px 0px 7px #B4D8EA;
background-color: #fff;
	float: left;
	width: 220px;
	height: 337px;
	margin-left: 9px;
	margin-bottom: 10px;

}

.photosrating-list .row:hover{
	
	box-shadow: 0px 0px 7px #90C1D8;
	border:1px solid #90C1D8;
}

.photosrating-list .row img.photorating-img{
	
}

.photosrating-list .photosrating-user {

	padding:15px;

}


.photosrating-list .row .photosrating-likes a{
	font-size:12px;
	
	position: absolute;
	right: 10px;
	bottom: 83px;
	color: #DBDBDB;
	font-weight: normal;
	padding: 7px;
	border-radius: 4px;
	background: url("../images/bg-overlay-albums.png");
}

.photosrating-list .row .photosrating-likes a:hover {
	color: #fff;
	text-decoration: none;
}


.photosrating-list .photosrating-user .photosrating-name{
	
	margin-left:5px;

}
.photosrating-list .photosrating-user .photosrating-name a{
	

}


.photosrating-list .photosrating-user .photosrating-name div{
	color:#73818A;
	font-size:11px;
	margin-top:5px;

}


        .vc_payment {}
        .vc_payment .vc_select_country {}
        .vc_text {margin: 10px 0px 10px 0px;font-weight:bold;font-size:11px;}
        .vc_country_select label {font-size:11px;color:#246C9E; font-weight:bold;}
        
        .vc_text strong{color:#246C9E; font-size:14px;}
        
        
        .vc_help {font-size:11px; margin-top:10px;}
        .vc_help .vc_title {font-weight:bold;}
        
        .vc_error {font-size:11px; font-weight:normal; color:red;margin-top:5px;}
        
        #payForm .vc_labelControl {font-size:11px;color:#246C9E; font-weight:bold;}
        
.vc_submit {
	background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	background: -webkit-linear-gradient(top, #68b12f, #50911e);
	background: -moz-linear-gradient(top, #3C98C1, #19568C);
	background: -ms-linear-gradient(top, #68b12f, #50911e);
	background: -o-linear-gradient(top, #68b12f, #50911e);
	background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #053460;
	border-bottom: 1px solid #053460;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #75BAD9;
	-webkit-box-shadow: 0 1px 0 0 #75BAD9 inset ;
	-moz-box-shadow: 0 1px 0 0 #75BAD9 inset;
	-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
	-o-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: white;
	font-weight: bold;
	padding: 6px 9px;
	text-align: center;
	text-shadow: 0 -1px 0 #1A598E;
         font-size:14px;
}
.vc_submit:hover {
	opacity:.85;
	cursor: pointer; 
}
.vc_submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;
	
}

.vc_txtfield {
	padding: 6px 9px;
        font-size:15px;
        font-weight:bold;
		border:1px solid #D8DBE0;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #fff inset;
		border-radius:2px;
		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
	
}
.vc_Checkrules {
        vertical-align: middle;margin-bottom: 8px;
}
.vc_rule_text {color:#93A0A5;}

.vc_rule_text a{color:#74838E;}
.agree_rules {color:#93A0A5; font-weight:normal; }

#vc_rules_text {
        margin-top:15px;
        height:230px;
        border:1px solid #D8DBE0;
        overflow: auto;
        padding:8px;
        background: #fff;
        box-shadow: 0px 0px 3px #E3EDF0, 0 10px 15px #fff inset;
}
.vc_foottext {font-size:10px; color:#B2B9BC;}
.vc_foottext a{font-size:10px; color:#B2B9BC;}

.apps {margin-left:22px;margin-top:15px;}

.app-item img {border-radius:5px;}

.app-item a img {
		border:1px solid #C9C9C9;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #f9f9f9 inset;
	
}

.app-item a img:hover {
		border:1px solid #74C1E5;
		box-shadow: 0px 0px 3px #74C1E5, 0 10px 15px #74C1E5 inset;
	
}

.app-item {float: left;width:128px;margin-right:17px;margin-bottom:15px; height:150px;}

.apps .app-name a{font-size:11px; font-weight:bold; color:#246C9E;}