.box-modal {
	margin-top:0px;
	position: relative;
	width: auto;
	padding: 16px;
	background: #fff;
	color: #3c3c3c;
	box-shadow: 0px 0px 10px #404040;
	border-radius: 4px;
}
.box-modal_close { position: absolute; right: 10px; top: 6px; font-size: 11px; line-height: 15px; color: #999; cursor: pointer; }
.box-modal_close:hover { color: #666; }