
.profile-themes {
	border:3px solid #F5B7BA; 


background: url(851856513.jpg);
padding:10px;
}

.profile-themes .user_info p.lead {border-bottom:1px solid #F5B7BA;}
.user_info {color:#fff;}
#content a {color:#F2DEE3;}
#content ul a:hover {color:#F2DEE3;}