.box-modal {
	margin-top:0px;
	position: relative;
	width: auto;
	padding: 16px;
	background: #ECECEC;
	color: #3c3c3c;
	margin-top:40px;
	border-radius: 4px;
}
.box-modal_close { position: absolute; right: 10px; top: 6px; font-size: 11px; line-height: 15px; color: #999; cursor: pointer; }
.box-modal_close:hover { color: #666; }