* {
	margin:0;
	padding:0;
}

body,html {
	height:100%;
}

body {
	background: #fff;
	min-height:100%;
	font-family: tahoma, sans-serif;
	color: #5f5f5f;
	font-size: 12px;
}

a, img {
	outline:none;
	border:none;
}

a {
	text-decoration:none;	
	cursor:pointer;
	color:#00489d;
}

a:hover {
	text-decoration:underline;	
	color:#00489d;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
	min-height: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.in-block {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline; 
	_overflow:hidden;	
}

.hidden {
	overflow: hidden;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.txt-left {
	text-align: left;
}

.txt-right {
	text-align: right;
}

.txt-center {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 14px;
	margin: 0 0 15px;
	color: #002245;
}

h3,
h4 {
	font-size: 15px;
	margin: 0 6px;
}

p {
	margin-bottom: 16px;
}

div {
	position: relative;
}

/* HEADER */

#header {
	width: 100%;
	height: 40px;
	background: url("bg-header.jpg") no-repeat;
}

a.logo {
	background: url("logo.png") no-repeat;
	position: absolute;
	left: 12px;
	top: 0;
	width: 187px;
	height: 40px;
}

ul#nav {
	list-style: none;
	position: absolute;
	right: 0;
	top: 10px;
}

ul#nav li {
	float: left;
	padding-left: 12px;
	background: url("border-nav.png") no-repeat;
	height: 21px;
	line-height: 21px;
	font-size: 13px;
	margin: 0 10px 0 0;
}

ul#nav li:first-child {
	background: none;
	padding-left: 0;
}

ul#nav li a {
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 0 #002144;
}

ul#nav li a:hover {
	text-decoration: underline;
	color: #fff;
}

.form-search {
	position: absolute;
	left: 212px;
	top: 9px;
	background: url("form-search.png") no-repeat;
	width: 169px;
	height: 22px;
}

.form-search .search-field {
	float: left;
	background: none;
	border: none;
	font-size: 11px;
	color: #97c8e0;
	padding: 0 6px;
	margin-top: 4px;
	width: 120px;
}

.form-search .search-btn {
	float: right;
	background: none;
	overflow: visible;
	cursor: pointer;
	border: none;
	width: 22px;
	height: 22px;
}

/* END HEADER */

/* CONTENT */

#content {
	padding: 0 0 85px;
}

#leftcol {
	float: left;
	width: 210px;
	padding-top: 10px;
	margin-left: 10px;
}

#maincol {
	float: right;
	width: 758px;
	border: 1px solid #bcdceb;
	border-top: none;
}

.statistics {
	width: 100%;
	overflow: hidden;
}

.statistics ul {
	list-style: none;
	width: 100%;
}

.statistics ul li {
	padding: 4px 0;
	width: 100%;
	overflow: hidden;
	font-size: 11px;
}

.statistics ul li .name {
	color: #8b9894;
	float: left;
	width: 115px;
	margin-left: 7px;
}

.statistics ul li .value {
	color: #6e869a;
	float: right;
	width: 58px;
}

.statistics ul li.odd {
	background: #f1f7fa;
}

.title,
.subtitle {
	padding: 6px 0;
	overflow: hidden;
	margin-bottom: 1px;
}

.title {
	background: #ddedf5;
}

.subtitle {
	background: #eaeaea;
}

#maincol .subtitle {
	background: url("subtitle-maincol.png") repeat-x #eaeaea;
}

.subtitle span {
	color: #525252;
	font-size: 13px;
	margin: 0 6px;
}

#maincol .subtitle span {
	margin: 0 16px;
	font-size: 13px;
	color: #0c3a63;
	text-shadow: 1px 1px 0 #fff;
}

.registration {
	width: 190px;
	overflow: hidden;
	margin-bottom: 25px;
}

.registration h4 {
	color: #66cc00;
	font-size: 14px;
	text-align: right;
	margin-bottom: 5px;
}

.registration .inputs {
	width: 100%;
	overflow: hidden;
	margin-bottom: 8px;
}

.registration .inputs .field {
	background: #f9f9f9;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	color: #a4a4a4;
	font-size: 12px;
	padding: 3px 5px;
	width: 178px;
}

.registration .remind-link {
	color: #5f5f5f;
}

.registration .checked input {
	vertical-align: middle;
}

.btn {
	overflow: visible;
	cursor: pointer;
	border: none;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 0 #001f3f;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	font-family: tahoma, sans-serif;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline; 
	_overflow:hidden;	
	vertical-align: top;		
}

.btn:hover {
	color: #fff;
	text-decoration: none;
}

a.btn {
	height: 33px;
	line-height: 29px;
}

input.btn {
	padding: 7px 0 12px;
}

.btn.standart {
	background: url("btn-standart.png") no-repeat;
	width: 190px;
}

.btn.small {
	background: url("btn-small.png") no-repeat;
	width: 128px;
}

a.btn.small {
	height: 26px;
	line-height: 26px;
}

input.btn.small {
	padding: 5px 0 7px
}

.btn.sendmessage {
	background: url("btn-small2.png") no-repeat;
	width: 180px;
	margin-bottom:5px;
}

.btn.wide {
	background: url("btn-wide.png") no-repeat;
	width: 198px;
}

a.btn.wide {
	height: 26px;
	line-height: 26px;
}

input.btn.wide {
	padding: 5px 0 7px
}

.btn.long {
	background: url("btn-long.png") no-repeat;
	width: 226px;
}

.socials ul {
	list-style: none;
	width: 100%;
	text-align: center;
}

.socials ul li {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline; 
	_overflow:hidden;	
	vertical-align: top;	
	margin: 0 2px;
}

.socials ul li a {
	display: block;
	width: 25px;
	height: 25px;
}

.socials p {
	font-size: 13px;
	margin-bottom: 5px;
}

.socials p strong {
	font-size: 12px;
}

.icn-mail {
	background: url("socials.png") no-repeat 0 0;
}

.icn-fb {
	background: url("socials.png") no-repeat -35px 0;
}

.icn-od {
	background: url("socials.png") no-repeat -69px 0;
}

.icn-tw {
	background: url("socials.png") no-repeat -104px 0;
}

.icn-ar {
	background: url("socials.png") no-repeat -140px 0;
}

.chat {
	margin-bottom: 35px;
}

.chat .footer {
	text-align: center;
	padding-top: 14px;
}

.chat .message {
	font-size: 11px;
	padding-bottom: 2px;
	margin-bottom: 1px;
	background: url("border-separate.png") repeat-x 0 100%;
}

.chat .message p {
	margin-bottom: 6px;
	color: #333;
}

.chat .message .head {
	background: #ecf5f9;
	padding: 4px 0;
	width: 100%;
	overflow: hidden;
	margin-bottom: 4px;
}

.chat .message .head .new-msg {
	width: 20px;
	height: 15px;
	margin-right: 6px;
	background: url("icn-new-msg.png") no-repeat;
}

.chat .message .head .name {
	margin-left: 6px;
	color: #155186;
}

.chat .message .foot {
	background: #e2e2e2;
	padding: 4px 0;
	overflow: hidden;
	width: 100%;
}

.chat .message .foot a {
	font-weight: bold;
	margin-left: 6px;
	color: #216699;
}

.chat .message .foot a:hover {
	color: #216699;	
}

.chat .message .foot .short-data {
	margin-right: 6px;
}

.chat .message img {
	margin: 0 7px 7px 0;
	float: left;
}

.leader {
	margin-bottom: 35px;
	overflow: hidden;
}

.leader .user {
	margin: 14px 0 0 34px;
}

.extended-link {
	color: #1f6396;
	font-size: 11px;
	text-decoration: underline;
	margin-right: 6px;
	margin-top: 2px;
}

.extended-link:hover {
	color: #1f6396;
	text-decoration: none;
}

ul.pagination {
	list-style: none;
	margin-right: 6px;
}

ul.pagination li {
	float: left;
}

ul.pagination li a {
	display: block;
	width: 21px;
	text-align: center;
	height: 21px;
	line-height: 21px;
	color: #145185;
	text-decoration: none;
	font-size: 13px;
}

ul.pagination li a:hover {
	color: #145185;
	text-decoration: underline;	
}

ul.pagination li a.current,
ul.pagination li.selected a,
ul.pagination li a.current:hover {
	text-decoration: none;
	color: #fff;
	background: #145185;
}

.participants {
	padding: 12px 12px 12px 0;
	overflow: hidden;
	width: 746px;
}

.user {
	width: 104px;
	float: left;
	margin: 0 0 30px 19px;
	text-align: center;
}

.user img {
	display: block;
	margin-bottom: 5px;
}

.user span {
	display: block;
}

.user .name {
	color: #155186;
	margin-bottom: 2px;
}

.user .city {
	color: #5f5f5f;
	margin-bottom: 2px;
	font-size: 11px;
}

.user .age {
	color: #333;
	margin-bottom: 4px;
	font-size: 11px;
}

.add-friend {
	display: block;
	width: 104px;
	height: 18px;
	line-height: 18px;
	background: #ddedf5;
	color: #6e869a;
	font-size: 10px;
	text-align: center;
}

.add-friend:hover {
	text-decoration: underline;
	color: #6e869a;
}

.mobile,
.online {
	display: block;
	width: 104px;
	height: 18px;
	margin-bottom: 2px;
}

.title .mobile, 
.title .online {
	margin: 0 6px 0 0;
}

.mobile {
	background: url("mobile.png") no-repeat;
}

.online {
	background: url("online.png") no-repeat;
}

.icn-real {
	background: url("icn-real.png") no-repeat;
	position: absolute;
	top: 0;
	right: -10px;
	width: 40px;
	height: 41px;
}

.icn-one {
	background: url("icn-one.png") no-repeat;
	position: absolute;
	top: 0;
	right: -10px;
	width: 40px;
	height: 41px;
}

.search-partner {
	background: url("search-partner.jpg") no-repeat;
	width: 478px;
	height: 164px;
	margin-bottom: 20px;
	margin-top: -1px;
	border-bottom: 1px solid #bcdceb;
	padding: 18px 262px 0 18px;
}

.search-partner.wide-search {
	height: auto;
	background: none;
	border-bottom: none;
	padding: 0;
	width: auto;
}

.search-partner .inputs {
	width: 100%;
	overflow: hidden;
	margin-bottom: 12px;
}

.search-partner .inputs .inline {
	float: left;
	margin-left: 22px;
	font-weight: bold;
	line-height: 17px;
}

.search-partner .inputs .inline:first-child {
	margin-left: 0;
}

.search-partner .inputs .col {
	width: 150px;
	float: left;
	margin-left: 12px;
}

.search-partner .inputs .col:first-child {
	margin-left: 0;
}

.search-partner .inputs.special-inputs {
	background: url("special-inputs.png") no-repeat;
	padding: 10px 0 0;
	height: 25px;
	margin-bottom: 8px;
	text-align: center;
	width: 478px;
	overflow: visible;
}

.search-partner .inputs.special-inputs span {
	position: absolute;
	left: 25px;
	top: -7px;
}

.search-partner .inputs.special-inputs input {
	vertical-align: middle;
	margin-left: 6px;
}

.search-partner .inputs.special-inputs input:first-child {
	margin-left: 0;
}

.search-partner .inputs.special-inputs label {
	color: #002040;
	font-size: 11px;
}

select {

	height:23px;
	width: 150px;
	font-size: 11px;	
	padding: 3px;
}

select.short {
	width: 105px;
	margin-left: 3px;
}

.txt-field {

	height:20px;
	padding: 1px;
	font-size: 11px;
}

.txt-field.short {
	width: 22px;
	margin-left: 3px;	
}

.vertical-nav {
	margin-bottom: 20px;
	width: 180px;
}

.vertical-nav ul {
	list-style: none;
}

.vertical-nav ul li {
	border-top: 1px dashed #bcdceb;
	padding: 5px 10px;
}

.vertical-nav ul li:first-child {
	border-top: none;
}

.vertical-nav ul li a {
	color: #525252;
	font-size: 13px;
	text-decoration: none;
}

.vertical-nav ul li a:hover {
	text-decoration: underline;
	color: #525252;	
}

.vertical-nav ul li a span,
.vertical-nav ul li a:hover span {
	color: #1e5f93;
	font-weight: bold;
	font-size: 11px;
}

.archive-link,
.hide-link,
.update-link {
	margin-right: 6px;
	margin-top: 3px;
	text-decoration: underline;
	color: #1f6396;
	font-size: 11px;
}

.archive-link:hover,
.hide-link:hover.
.update-link:hover {
	text-decoration: none;
	color: #1f6396;	
}

.wall {
	padding: 9px;
}

.wall .leftcol {
	float: left;
	width: 180px;
}

.wall .rightcol {
	float: right;
	width: 540px;
}

.face-user {
	width: 180px;
	height: 240px;
	margin-bottom: 10px;
}

.menu-wall {
	margin-bottom: 18px;
}

.menu-wall ul {
	list-style: none;
}

.menu-wall ul li {
	border-top: 1px dotted #96c8e0;
	padding: 5px 0;
}

.menu-wall ul li:first-child {
	border-top: none;
}

.menu-wall ul li a {
	color: #246c9e;
	font-size: 11px;
	text-decoration: none;
}

.menu-wall ul li a:hover {
	color: #246c9e;
	text-decoration: underline;
}

.albums,
.videoalbums {
	margin-bottom: 26px;
	padding: 4px 5px;
}

.albums strong {
	position: absolute;
	background: url("bg-overlay-albums.png");
	color: #fff;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5px 7px;
	font-size: 11px;
}

.videoalbums .foot {
	width: 100%;
	overflow: hidden;
	font-size: 11px;
	padding-top: 7px;
}

.videoalbums .foot .date {
	color: #858585;
}

.videoalbums .foot .comments {
	color: #246c9e;
}

.playbutton {
	position: absolute;
	width: 51px;
	height: 34px;
	left: 50%;
	top: 50%;
	margin: -17px 0 0 -25px;
	background: url("playbutton.png") no-repeat;
	cursor: pointer;
}

.friends {
	width: 187px;
	overflow: hidden;
	margin-bottom: 0px;
	padding-top: 5px;
	margin-left: -7px;
}

.friends a {
	float: left;
	width: 55px;
	margin: 0 0 13px 7px;
	text-align: center;
	color: #155186;
}

.friends a img {
	display: block;
	margin-bottom: 2px;
}

.friends a span {
	text-decoration: none;
}

.friends a:hover span {
	text-decoration: underline;
}

.presents {
	width: 184px;
	overflow: hidden;
	margin-bottom: 20px;
	padding-top: 5px;
	margin-left: -4px;
}

.presents a {
	float: left;
	width: 55px;
	height: 55px;
	border: 1px solid #def6f1;
	margin-left: 4px;
}

.data-user {
	margin-bottom: 12px;
	font-size: 11px;
}

.data-user ul {
	list-style: none;
	width: 320px;
	margin-bottom: 8px;
}

.data-user ul li {
	border-top: 1px dotted #96c8e0;
	padding: 5px 0;
	overflow: hidden;
	width: 100%;
}

.data-user ul li:first-child {
	border-top: none;
	padding-top: 0;
}

.data-user ul li label {
	float: left;
	width: 124px;
	color: #858585;
}

.data-user ul li span {
	float: right;
	color: #246c9e;
	width: 185px;
}	

.data-user a {
	color: #246c9e;
	text-decoration: none;
}

.data-user a:hover {
	color: #246c9e;
	text-decoration: underline;
}

.addphotos-link,
.recording-link {
	margin-right: 6px;
	color: #1f6396;
	text-decoration: underline;
}

.addphotos-link:hover,
.recording-link:hover {
	color: #1f6396;
	text-decoration: none;
}

.photos {
	overflow: hidden;
	width: 549px;
	margin-left: -9px;
	padding-top: 4px;
	margin-bottom: 10px;
}

.photos a {
	float: left;
	width: 59px;
	margin-left: 9px;
}

.write-msg {
	background: #f3f9fc;
	margin-bottom: 15px;
	border: 1px solid #ddedf5;
	padding: 10px;
}

.write-msg textarea {
	background: #fff;
	border: 1px solid #bcdceb;
	resize: vertical;
	font-family: tahoma, sans-serif;
	color: #5f5f5f;
	font-size: 12px;
	padding: 5px;
	height: 37px;
	width: 508px;
	margin-bottom: 6px;
}

.write-msg .foot {
	width: 100%;
	overflow: hidden;
}

.write-msg .foot a {
	line-height: 26px;
	color: #246c9e;
	text-decoration: none;
	font-size: 11px;
}

.write-msg .foot a:hover {
	color: #246c9e;
	text-decoration: underline;
}

.recording-wall {
	width: 100%;
	overflow: hidden;
}

.recording-wall .cell {
	width: 100%;
	overflow: hidden;
	padding: 10px 0;
	border-top: 1px solid #bcdceb;
}

.recording-wall .cell:first-child {
	border-top: none;	
	padding-top: 0;
}

.recording-wall .cell .cont {
	margin: 0 0 12px 62px;
	color: #333;
	font-size: 11px;
}

.recording-wall .cell .name {
	color: #001f3f;
	font-size: 13px;
	display: block;
	margin-bottom: 6px;
}

.recording-wall .cell .foot {
	margin-left: 62px;
	overflow: hidden;
	font-size: 11px;
}

.recording-wall .cell .foot .date {
	color: #858585;
}

.recording-wall .cell .foot a {
	color: #246c9e;
	text-decoration: none;
}

.recording-wall .cell .foot a:hover {
	color: #246c9e;
	text-decoration: underline;
}

.reg-form {
	background: #f3f9fc;
	border-bottom: 1px solid #ddedf5;
	border-top: 1px solid #ddedf5;
	padding: 13px 0;
}

.tab {
	background: #f3f9fc;
	border-bottom: 1px solid #ddedf5;
	border-top: 1px solid #ddedf5;
	padding: 13px 20px;
}

.tab .reg-form {
	padding: 0;
	border: none;
}

.reg-form .inputs {
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}

.reg-form .inputs label {
	float: left;
	width: 200px;
	text-align: right;
	padding-top: 2px;
	margin-right: 12px;
	color: #525252;
	font-size: 11px;
}

.tab .reg-form .inputs label {
	width: 180px;
}

.reg-form .inputs .txt-field {
	width: 304px;
	float: left;
}

.reg-form .inputs select {
	width: 308px;
}

.reg-form .inputs .checkboxes {
	margin-left: 212px;
}

.reg-form .inputs .checkboxes .inputs label {
	float: none;
	text-align: left;
}

.reg-form .inputs .checkboxes .inputs input {
	vertical-align: middle;
}

.reg-form .inputs .cupcha-box {
	margin-right: 12px;
}

.reg-form .inputs .btn {
	margin-left: 197px;
}

.tab .reg-form .inputs .btn {
	margin-left: 333px;
}

.reg-form .inputs .hint {
	float: right;
	width: 226px;
	font-size: 10px;
	color: #949494;
}

.confirmation {
	background: #f3f9fc;
	padding: 10px 16px;
	font-size: 11px;
	color: #414141;
}

.confirmation h3 {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 8px;
}

.confirmation h4 {
	color: #3083b3;
	font-size: 13px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 5px;	
}

.confirmation .small-text {
	font-size: 10px;
	display: block;
	margin-bottom: 3px;
}

.confirmation a {
	text-decoration: underline;
}

.confirmation a:hover {
	text-decoration: none;
}

.purchase-status {
	background: #f3f9fc;
	padding: 15px 13px;
	overflow: hidden;
}

.purchase-status .cont {
	margin-left: 196px;
}

.purchase-status ul {
	list-style: none;
	padding-left: 25px;
}

.purchase-status ul li {
	padding-left: 16px;
	background: url("icn-check.png") no-repeat 0 0;
	margin-top: 10px;
}

.purchase-status ul li:first-child {
	margin-top: 0;
}

.purchase-status p {
	margin-bottom: 28px;
	color: #858585;
}

.purchase-status a {
	color: #062c52;
	text-decoration: underline;
}

.purchase-status a:hover {
	color: #062c52;
	text-decoration: none;
}

.purchase-status span {
	display: block;
	color: #3083b3;
	font-size: 14px;
	margin-bottom: 15px;
}

.activation-status {
	background: #f3f9fc;
	padding: 12px 32px;
}

.activation-status form {
	display: block;
	margin-bottom: 35px;
	overflow: hidden;
}

.activation-status .info {
	color: #858585;
	padding: 10px 0;
	margin-bottom: 15px;
	border-top: 1px solid #bcdceb;
	border-bottom: 1px solid #bcdceb;
	line-height: 1.8em;
}

.activation-status .info strong {
	color: #002245;
}

.activation-status .info span {
	color: #3083b2;
}

.activation-status .inputs {
	width: 100%;
	overflow: hidden;
	margin-bottom: 18px;
}

.activation-status .inputs label {
	width: 220px;
	float: left;
	color: #000;
	margin-right: 14px;
	text-align: right;
}

.activation-status .inputs .txt-field {
	width: 236px;
	float: left;
}

.activation-status .inputs select {
	width: 244px;
	float: left;
}

.activation-status .inputs .checkbox {
	clear: both;
	padding-left: 234px;
	padding-top: 8px;
	text-align: left;
	font-size: 11px;
}

.activation-status .inputs .checkbox input {
	vertical-align: middle;
}

.activation-status .btn {
	margin-left: 220px;
	float: left;
}

.minnor-text {
	color: #858585;
	font-size: 11px;
}

.minnor-text a {
	text-decoration: underline;
	color: #00438c;
}

.minnor-text a:hover {
	text-decoration: none;
	color: #00438c;
}

.section-tabs {
	width: 100%;
	overflow: hidden;
}

ul.tabs {
	width: 100%;
	list-style: none;
	overflow: hidden;
	height: 24px;
	margin-bottom: 1px;
	background: url("subtitle-maincol.png") repeat-x #EAEAEA;
	padding: 1px 0 2px;
}

ul.tabs li {
	float: left;
	margin-left: 5px;
	cursor: pointer;
	height: 24px;
	line-height: 24px;
	padding: 0 8px;
	font-size: 11px;
	color: #0c3b63;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}

ul.tabs li.current,
ul.tabs li.active
{
	background: #0c3c63;
	color: #fff;
	text-shadow: 1px 1px 0 #082c47;
}

ul.tabs li.active a {
	color:#fff;
}
.section-tabs .tab {
	display: none;
}

.section-tabs .tab.visible {
	display: block;
}

.distance {
	padding: 18px;
}

.checkboxes-cols {
	overflow: hidden;
	padding-left: 25px;
}

.checkboxes-cols .col {
	float: left;
	width: 238px;
}

.checkboxes-cols .col.separate {
	margin-bottom: 25px;
}

.checkboxes-cols .col .inputs {
	margin-top: 6px;
	margin-bottom: 0;
	font-size: 11px;
}

.checkboxes-cols .col .inputs.separate {
	margin-bottom: 25px;
}

.checkboxes-cols .col .inputs input {
	vertical-align: middle;
	margin-right: 6px;
}

.want-receive {
	background: #f3f9fc;
	padding: 12px;
	width: 476px;
	border: 1px solid #ddedf5;
	clear: both;
}

.search-partner.wide-search .btn.standart {
	margin-left: 28px;
}

.who-search {
	clear: both;
	margin-bottom: 18px;
	width: 100%;
	overflow: hidden;
}

.who-search .col {
	float: left;
	width: 238px;
}

.who-search .params {
	width: 100%;
	overflow: hidden;
	padding-top: 6px;
}

.who-search .params label {
	margin-right: 8px;
	font-size: 11px;
}

.who-search .params select {
	width: 50px;
	margin-right: 12px;
}

.about-service {
	margin-bottom: 20px;
	padding: 10px 10px 10px 60px;
	background: url("bg-about-service.jpg") no-repeat 0 50% #f3f9fc;
	border: 1px solid #ddedf5;
}

.about-service p {
	margin-bottom: 8px;
}

.about-service a {
	color: #526c83;
	text-decoration: none;
}

.about-service a:hover {
	color: #526c83;
	text-decoration: underline;
}

.about-service strong {
	color: #000;
}

.messages-box {
	width: 100%;
}

.messages-box .head {
	background: #fff;
	height: 28px;
	line-height: 28px;
	border-bottom: 1px solid #bcdceb;
	width: 738px;
	margin-left: -20px;
	padding: 0 10px;
	clear: both;
	overflow: hidden;
}

.messages-box .head span {
	color: #1a5a8e;
	font-weight: bold;
	margin-right: 12px;
}

.messages-box .message {
	background: #fff;
	width: 738px;
	margin-left: -20px;
	border-bottom: 1px solid #bcdceb;
	padding: 8px 10px;	
	overflow: hidden;
}

.messages-box .message .checked {
	float: left;
	padding: 22px 8px 0 0;
}

.messages-box .message .user-params {
	margin-left: 8px;
	width: 152px;
}

.messages-box .message .user-params .name {
	color: #001f3f;
	display: block;
	font-size: 13px;
	margin-bottom: 2px;
}

.messages-box .message .user-params .status {
	font-size: 13px;
	display: block;
	margin-bottom: 3px;
}

.messages-box .message .user-params .status.on-line {
	color: #6da003;
}

.messages-box .message .user-params .status.mo-bile {
	color: #183b5b;
}

.messages-box .message .user-params .date {
	color: #858585;
	font-size: 11px;
}

.messages-box .message .cont {
	background: #f3f9fc;
	border: 1px solid #ddedf5;
	padding: 6px;
	width: 484px;
	min-height: 40px;
	height: auto !important;
	height: 40px;	
}

.messages-box .message .cont .text-msg {
	width: 430px;
	color: #3b98c5;
}

.messages-box .message .cont .text-msg-remove {
	padding-left: 8px;
	padding-right: 8px;
	color: #3b98c5;
	vertical-align: middle;
}

.messages-box .message .cont .text-msg-remove a,
.messages-box .message .cont .text-msg-remove a:hover {
	color: #0c3b63
}

.control-bttns {
	padding: 0 0 16px;
	width: 100%;
	overflow: hidden;
}

ul.marking {
	list-style: none;
	margin-top: 7px;
}

ul.marking li {
	float: left;
	margin-left: 4px;
}

ul.marking li:first-child {
	margin-left: 0;
}

ul.bttns {
	list-style: none;
}

ul.bttns li {
	margin-left: 8px;
	float: left;
}

/* END CONTENT */

/* FOOTER */

#footer {
	width: 100%;
	background: #e2e2e2;
	margin-top: -50px;
}

#footer-wrapper {
	margin: 0 auto;
	width: 980px;
	height: 40px;
	padding: 10px 0 0;
	color: #666;
	text-shadow: 1px 1px 0 #fff;
}

#footer-wrapper a {
	color: #666;	
	text-decoration: none;
}

#footer-wrapper a:hover {
	color: #666;	
	text-decoration: underline;
}

.support-link {
	margin-top: 10px;
}

.counter {
	margin-left: 382px;
	line-height: 31px;
}

.counter-link {
	float: left;
	margin-right: 8px;
}

/* END FOOTER */


/* POPUP */

.overlay {
    background: url("overlay.png");
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

.window {
	display: none;
    background: #fff;

    padding: 17px 0 0;
    position: absolute;

    z-index: 510;
}

.window.wide {
	background: #fff;
    width: 660px; 
}

.window .inner {
    background: url("bg-bottom-window.png") no-repeat 0 100%;
    padding-bottom: 15px;	
}

.window.wide .inner {
    background: url("bg-bottom-window-wide.png") no-repeat 0 100%;	
    width: 660px;        
}

.window .inner .container {
    background: url("bg-repeat-window.png") repeat-y;
    padding: 0 20px;
    width: 620px;
}

.window.wide .inner .container {
    background: url("bg-repeat-window-wide.png") repeat-y;
    padding: 0 18px;
    width: 624px;
}

.window .close {
    background: url("icon-close.png") no-repeat;
    height: 10px;
    position: absolute;
    right: 13px;
    top: 10px;
    width: 10px;
}

.window .head {
    font-size: 14px;
    margin-bottom: 18px;
    overflow: hidden;
    width: 100%;
    line-height: 1.5em;
}

.window .head.loginhead {
	padding-left: 33px;
	background: url("loginhead.png") no-repeat;
	width: 590px;
}

.window .head h3 {
	margin: 0;
	font-weight: bold;
	font-size: 17px;
	color: #000;
}

.window .head .us {
	display: block;
	color: #b0b0b0;
}

.window .head .us label {
	color: #333;
}

.chat-popup {
    overflow: hidden;
    width: 100%;
}

.chat-popup .leftcol {
    float: left;
    width: 222px;
    font-size: 12px;
}

.chat-popup .leftcol img {
    margin-bottom: 10px;
    width: 220px;
}

.chat-popup .rightcol {
    float: right;
    width: 388px;
}

form.chat-messanger {
    overflow: hidden;
    width: 100%;
}

.chat-popup form.chat-messanger .input-box-msg,
.chat-popup form.chat-messanger textarea {
    width: 366px;
}

.chat-popup form.chat-messanger .input-box-msg {
    height: 183px;
}


.login-form {
	padding: 0 0 0 92px;
	overflow: hidden;
	background: url("bg-login-form.png") no-repeat 0 0;
}

.login-form .inputs {
	margin-bottom: 5px;
	width: 368px;
}

.login-form .inputs label {
	width: 62px;
	font-size: 14px;
	color: #333;
}

.login-form .inputs .txt-field {
	width: 284px;
	float: left;
	padding: 6px 8px;
}

.login-form .inputs .submit {
	margin-left: 8px;
	padding-left: 0;
	padding-right: 0;
	width: 158px;
}

.login-form a {
	font-size: 13px;
}

.firsttime {
	font-size: 13px;
	color: #333;
	width: 150px;
	line-height: 1em;
	margin-top: -3px;
	font-size: 11px;
}

.firsttime span {
	display: block;
	padding: 3px 0 0 3px;
	clear: both;
}

.login-form .firsttime a {
	font-size: 11px;
}

/* END POPUP */


.nolabel label{
	float:none;
	width: auto;
}
.nolabel {
	float:left;
	width: auto;
}

#easyTooltip{
	margin:0 10px 1em 0;
	width:200px;
	padding:8px;
	color:#fff;
	background:#000;
	border:1px solid #000;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
border-radius: 5px;  -moz-border-radius:5px;-webkit-border-radius:5px;
	filter:alpha(opacity=75); -moz-opacity: 0.75;  opacity: 0.75;
}

#easyTooltip p{
	margin:0;
} 

#easyTooltip img{
	background:#fff;
	width:40px;
	height:40px;
	float:left;
	margin-right:8px;
} 

.easyTooltip{
	display:none;
}


.err {float:left;color:red;margin-left:212px;margin-bottom:10px;}
.error input {color:red;border:1px solid #FF0000;}


.reg-form.authModal .inputs label {
	width: 120px;
}

.reg-form.authModal .inputs .txt-field {
	width: 230px;
	float: left;
}
.reg-form.authModal .inputs select {
	width: 230px;
}

.reg-form.authModal .inputs .btn {
	margin-left: 120px;
}

.reg-form.authModal {
	width:400px;
	background: #fff;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	}
	
.authModal .left {margin-right:25px; }
.authModal .err {float:left;color:red;margin-left:133px;margin-bottom:10px;}

.authModal .ttl {margin-bottom:15px; }



.msgbox {
	background: url("bg-main-container.jpg");
	border:1px solid #E8EDF7;
	padding: 14px 22px 14px 32px;
	overflow: hidden;
	margin: 0 0 6px;
	width: 640px;
	clear: both;
}

.msgbox img {
	float: left;
	width: 62px;
}

.msgbox .cont,
.msgbox .foot {
	margin: 0 0 0 79px;
}

.msgbox .cont {
	margin-bottom: 4px;
	font-size: 13px;
}

.msgbox .foot a {
	float: right;
	margin-left: 5px;
}

.msgbox .foot a.gr,
.msgbox .foot a.gr:hover {
	color: #669900;
}

.msgbox .foot .online,
.msgbox .foot .mobile {
	position: relative;
	float: left;
}

form.chat-messanger {
    overflow: hidden;
    width: 100%;
}


form.chat-messanger .input-box-msg {
    background: #fff;
    border: 1px solid #dde1e4;
    height: 94px;
    margin-bottom: 15px;
    padding: 10px;
    width: 678px;
}

form.chat-messanger .input-box-msg .msg {
    margin-bottom: 6px;
    font-size: 11px;
}

form.chat-messanger .input-box-msg .msg span {
    background: url("icon-msg.jpg") no-repeat 0 50%;
    color: #9A9A9A;
    display: block;
    padding-left: 17px;
}


form.chat-messanger textarea {
    border: 1px solid #dde1e4;
    color: #7E7E7E;
    font-size: 12px;
    height: 53px;
    margin-bottom: 10px;
    padding: 10px;
    resize: vertical;
    width: 678px;
}